@model HoldingTaxWebApp.Models.Holding.HolderFlatHistory
@{
    /**/

    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Sheets{
    <link href="~/Content/FormDesign.css" rel="stylesheet" />

    <style>
        .canthead {
            text-align: center;
            justify-content: center !important;
        }
    </style>

}

<div class="subheader py-2 py-lg-6 subheader-transparent" id="kt_subheader">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <div class="d-flex align-items-center flex-wrap mr-1">
            <div class="d-flex align-items-baseline flex-wrap mr-5">
                <h5 class="text-dark font-weight-bold my-1 mr-5">পুরাতন ফ্ল্যাট মালিকানার বিবরন</h5>
                <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                    <li class="breadcrumb-item text-muted">
                        <a href="#" class="text-muted">বিশদ তথ্য </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <a onclick="return goBack();" class="btn btn-light-primary font-weight-bolder btn-sm"><i class="fas fa-arrow-left"></i>আগের পেজে যান</a>
        </div>
    </div>
</div>


<div class="d-flex flex-column-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-custom gutter-b example example-compact">
                    <div class="card-header" id="print_header">
                        <div class="row offset-1">
                            <h3 class="card-title">
                                <b class="kt-font-brand">@Model.NewFlatNo</b>  &nbsp; এর বিশদ তথ্য
                            </h3>

                            <div class="card-toolbar">
                                <div class="example-tools justify-content-center">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="print_div">
                        <div class="row offset-1">
                            <legend>পুরাতন ফ্ল্যাট মালিকানা ও হস্তান্তর তথ্য</legend>
                            <div class="col-lg-5">

                                <div class="form-group form-group-xs row">
                                    <label class="col-6 col-form-label">
                                        @Html.DisplayNameFor(model => model.AreaName)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.AreaName)
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group form-group-xs row">
                                    <label class="col-6 col-form-label">
                                        @Html.DisplayNameFor(model => model.PlotNo)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.PlotNo)
                                        </span>
                                    </div>
                                </div>



                                <div class="form-group form-group-xs row">
                                    <label class="col-6 col-form-label">
                                        @Html.DisplayNameFor(model => model.NewFlatNo)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.NewFlatNo)
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group form-group-xs row">
                                    <label class="col-6 col-form-label">
                                        @Html.DisplayNameFor(model => model.ReferenceNo)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.ReferenceNo)
                                        </span>
                                    </div>
                                </div>





                            </div>

                            <div class="col-lg-5">

                                <div class="form-group form-group-xs row">
                                    <label class="col-6 col-form-label">
                                        @Html.DisplayNameFor(model => model.OldHolderName)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.OldHolderName)
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group form-group-xs row">
                                    <label class="col-6 col-form-label">
                                        @Html.DisplayNameFor(model => model.NewHolderName)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.NewHolderName)
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group form-group-xs row">
                                    <label class="col-6 col-form-label">
                                        @Html.DisplayNameFor(model => model.StringReferenceDate)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.StringReferenceDate)
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group form-group-xs row">
                                    <label class="col-6 col-form-label">
                                        @Html.DisplayNameFor(model => model.TransactionByUserName)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.TransactionByUserName)
                                        </span>
                                    </div>
                                </div>



                            </div>
                        </div>

                    </div>

                    <div class="card-footer">
                        <div class="text-center">
                            @*<a href="~/OldPlotOwner/Edit/@Model.OldPlotOwnerId" class="btn btn-outline-success btn-md">
                                    <i class="fas fa-pen"></i>হালনাগাদের পেজে  যান
                                </a>*@
                            <a href="~/HolderFlatHistory/Index" class="btn btn-outline-dark btn-md"><i class="fas fa-arrow-left"></i>মূল তালিকায় ফিরে যান</a>
                            <button id="print_this" class="btn btn-light-primary btn-md"><i class="fas fa-list"></i>প্রিন্ট করুন</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/printThis.js"></script>
    <script>
        jQuery(document).ready(function () {
            $("#print_this").on('click', function (e) {
                e.preventDefault();
                $("#print_div").printThis({
                    header: $('#print_header'),
                    importCSS: true,
                    importStyle: true
                });
            });
        });
    </script>
}
