@model IEnumerable<HoldingTaxWebApp.Models.Holding.Holder>
@{
    ViewBag.Title = "Index";
}
@section Sheets{
    @*<link href="~/Content/FormDesign.css" rel="stylesheet" />*@
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
}


<div class="subheader py-2 py-lg-6 subheader-transparent" id="kt_subheader">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <div class="d-flex align-items-center flex-wrap mr-1">
            <div class="d-flex align-items-baseline flex-wrap mr-5">
                <h5 class="text-dark font-weight-bold my-1 mr-5">গৃহকরদাতা</h5>
                <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                    <li class="breadcrumb-item text-muted">
                        <a href="#" class="text-muted">গৃহকরদাতাদের তালিকা মূল তালিকা</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <a onclick="return goBack();" class="btn btn-light-primary font-weight-bolder btn-sm"><i class="fas fa-arrow-left"></i>আগের পেজে যান</a>
        </div>
    </div>
</div>

<div class="d-flex flex-column-fluid">
    <div class="container">
        @if (TempData["SM"] != null)
        {
            <div class="alert alert-custom alert-white alert-shadow gutter-b fade show mb-5" role="alert">
                <div class="alert-text text-center font-weight-bolder" style="color: #24AEEF; font-size: 17px;"> @TempData["SM"]</div>
                <div class="alert-close">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="ki ki-close"></i></span>
                    </button>
                </div>
            </div>
        }

        <div class="card card-custom">
            <div class="card-header flex-wrap border-0 pt-6 pb-0">
                <div class="card-title">
                    <h3 class="card-label">
                        গৃহকরদাতাদের তালিকা মূল তালিকা
                    </h3>
                </div>
                <div class="card-toolbar">
                    <!--begin::Dropdown-->
                    <!--end::Dropdown-->
                    <!--begin::Button-->
                    <a href="~/Holding/Create" class="btn btn-primary font-weight-bolder">
                        <i class="fas fa-plus">
                        </i>নতুন গৃহকরদাতা যুক্ত করুন
                    </a>

                    @*@if ((Convert.ToString(Session[CommonConstantHelper.RoleName]) == CommonConstantHelper.RoleAdmin) ||
                        (Convert.ToString(Session[CommonConstantHelper.RoleName]) == CommonConstantHelper.RoleManagement))
                    {
                        <a href="~/User/Create" class="btn btn-brand btn-elevate btn-icon-sm">
                            <i class="la la-plus"></i>
                            Add User
                        </a>
                    }*@

                    <!--end::Button-->
                </div>
            </div>
            <div class="card-body">
                <!--begin: Search Form-->
                <!--begin::Search Form-->
                <div class="mb-7">
                    <div class="row align-items-center">
                        <div class="col-lg-9 col-xl-8">
                            <div class="row align-items-center">
                                <div class="col-md-4 my-2 my-md-0">
                                    @*<div class="input-icon">
                                        <input type="text" class="form-control" placeholder="Search..." id="kt_datatable_search_query" />
                                        <span>
                                            <i class="flaticon2-search-1 text-muted"></i>
                                        </span>
                                    </div>*@
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!--end::Search Form-->
                <!--end: Search Form-->
                <div class="datatable datatable-bordered datatable-head-custom datatable-default datatable-primary datatable-loaded">
                    <!--begin: Datatable-->
                    <table class="table-bordered datatable-table" id="data_table" width="90">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.HolderNo)</th>
                                <th>@Html.DisplayNameFor(model => model.AreaName)</th>
                                <th>@Html.DisplayNameFor(model => model.PlotNo)</th>
                                <th>@Html.DisplayNameFor(model => model.HolderName)</th>
                                <th>@Html.DisplayNameFor(model => model.OwnerTypeName)</th>
                                <th>@Html.DisplayNameFor(model => model.BuildingTypeName)</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tfoot>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.HolderNo)</th>
                                <th>@Html.DisplayNameFor(model => model.AreaName)</th>
                                <th>@Html.DisplayNameFor(model => model.PlotNo)</th>
                                <th>@Html.DisplayNameFor(model => model.HolderName)</th>
                                <th>@Html.DisplayNameFor(model => model.OwnerTypeName)</th>
                                <th>@Html.DisplayNameFor(model => model.BuildingTypeName)</th>
                                <th></th>
                            </tr>
                        </tfoot>

                    </table>
                    @*<div id="test"></div>*@
                    <!--end: Datatable-->
                </div>

            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    @*<script src="~/Scripts/custom/holderListIndex.js"></script>*@

    <script>
        jQuery(document).ready(function () {
            



            function reDrawTable() {
                registerTable.page('first').draw();
            }

            var registerTable = $("#data_table").DataTable({
                "oLanguage": {
                    "sEmptyTable": "No Information available"
                },
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": '@Url.Action("GetAllHolderForDatatable", "Holding")',
                "sServerMethod": 'post',
                "order": [[0, "desc"]],
                "aaSorting": [],
                "lengthMenu": [[10, 50, 100, -1], [10, 50, 100, "All"]], //value:item pair
                "columnDefs": [
                    { "targets": [0, 1, 2, 3, 4], "bSortable": false }
                ],
                "columns": [
                    { 'data': 'HolderNo', class: 'text-left' },
                    { 'data': 'AreaName', class: 'text-center' },
                    { 'data': 'PlotNo', class: 'text-center' },
                    { 'data': 'HolderName', class: 'text-left' },
                    { 'data': 'OwnerTypeName', class: 'text-center' },
                    { 'data': 'BuildingTypeName', class: 'text-left' },
                    {
                        'data': null, //its null here because history column will contain the mRender
                        render: (data, type, row) => {
                            return `<a class="btn btn-sm btn-clean btn-icon btn-icon-md kt-datatable__cell" href='/Holding/Edit/${row.HolderId}' title="হালনাগাদ পেজে যান"><b> <i class="fa fa-edit"></i>  </b></a><a class="btn btn-sm btn-clean btn-icon btn-icon-md kt-datatable__cell" href='/Holding/Details/${row.HolderId}'  title="বিস্তারিত তথ্য পেজে যান"><b><i class="fa fa-th-list" aria-hidden="true"></i></b></a><a class="btn btn-sm btn-clean btn-icon btn-icon-md kt-datatable__cell" href='/Holding/rptHolderDetails/${row.HolderId}' title="হোল্ডার রিপোর্ট"><b><i class="fa fa-file-alt" aria-hidden="true"></i></b></a>`;
                        }
                    },
                ]
            });

        });      
    </script>


}