@model IEnumerable<HoldingTaxWebApp.Models.Holding.Holder>
@{
                /**/

                ViewBag.Title = "Index";
}
@section Sheets{
    <link href="~/Content/FormDesign.css" rel="stylesheet" />
}


<div class="subheader py-2 py-lg-6 subheader-transparent" id="kt_subheader">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <div class="d-flex align-items-center flex-wrap mr-1">
            <div class="d-flex align-items-baseline flex-wrap mr-5">
                <h5 class="text-dark font-weight-bold my-1 mr-5">গৃহকরদাতা</h5>
                <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                    <li class="breadcrumb-item text-muted">
                        <a href="#" class="text-muted">গৃহকরদাতাদের তালিকা মূল তালিকা</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <a onclick="return goBack();" class="btn btn-light-primary font-weight-bolder btn-sm"><i class="fas fa-arrow-left"></i>আগের পেজে যান</a>
        </div>
    </div>
</div>

<div class="d-flex flex-column-fluid">
    <div class="container">
        @if (TempData["SM"] != null)
        {
            <div class="alert alert-custom alert-white alert-shadow gutter-b fade show mb-5" role="alert">
                <div class="alert-text font-weight-bolder" style="color: #0BB783;">@TempData["SM"]</div>
                <div class="alert-close">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="ki ki-close"></i></span>
                    </button>
                </div>
            </div>
        }

        <div class="card card-custom">
            <div class="card-header flex-wrap border-0 pt-6 pb-0">
                <div class="card-title">
                    <h3 class="card-label">
                        গৃহকরদাতাদের তালিকা মূল তালিকা
                    </h3>
                </div>
                <div class="card-toolbar">
                    <!--begin::Dropdown-->
                    <!--end::Dropdown-->
                    <!--begin::Button-->
                    <a href="~/Holding/Create" class="btn btn-primary font-weight-bolder">
                        <i class="fas fa-plus">
                        </i>নতুন গৃহকরদাতা যুক্ত করুন
                    </a>

                    @*@if ((Convert.ToString(Session[CommonConstantHelper.RoleName]) == CommonConstantHelper.RoleAdmin) ||
                            (Convert.ToString(Session[CommonConstantHelper.RoleName]) == CommonConstantHelper.RoleManagement))
                        {
                            <a href="~/User/Create" class="btn btn-brand btn-elevate btn-icon-sm">
                                <i class="la la-plus"></i>
                                Add User
                            </a>
                        }*@

                    <!--end::Button-->
                </div>
            </div>
            <div class="card-body">
                <!--begin: Search Form-->
                <!--begin::Search Form-->
                <div class="mb-7">
                    <div class="row align-items-center">
                        <div class="col-lg-9 col-xl-8">
                            <div class="row align-items-center">
                                <div class="col-md-4 my-2 my-md-0">
                                    <div class="input-icon">
                                        <input type="text" class="form-control" placeholder="Search..." id="kt_datatable_search_query" />
                                        <span>
                                            <i class="flaticon2-search-1 text-muted"></i>
                                        </span>
                                    </div>
                                </div>

                                @*New*@
                                @*<div class="col-md-4 my-2 my-md-0">
                                    <div class="d-flex align-items-center">
                                        <label class="mr-3 mb-0 d-none d-md-block">Status:</label>
                                        <select class="form-control" id="kt_datatable_search_status">
                                            <option value="">All</option>
                                            <option value="বনানী ডিওএইচএস">বনানী ডিওএইচএস</option>
                                            <option value="মিরপুর ডিওএইচএস">মিরপুর ডিওএইচএস</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4 my-2 my-md-0">
                                    <div class="d-flex align-items-center">
                                        <label class="mr-3 mb-0 d-none d-md-block">Type:</label>
                                        <select class="form-control" id="kt_datatable_search_type">
                                            <option value="">All</option>
                                            <option value="116">116</option>
                                            <option value="4/G">4/G</option>
                                            <option value="২২১">২২১</option>
                                        </select>
                                    </div>
                                </div>*@
                                @*New*@

                            </div>
                        </div>
                        @*<div class="col-lg-3 col-xl-4 mt-5 mt-lg-0">
                            <a href="#" class="btn btn-light-primary px-6 font-weight-bold">Search</a>
                        </div>*@
                    </div>
                </div>
                <!--end::Search Form-->
                <!--end: Search Form-->
                <!--begin: Datatable-->
                <table class="datatable datatable-bordered datatable-head-custom" id="kt_datatable">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.AreaPlotFlatData)</th>
                            <th>@Html.DisplayNameFor(model => model.AreaName)</th>
                            <th>@Html.DisplayNameFor(model => model.PlotNo)</th>
                            <th>@Html.DisplayNameFor(model => model.HolderName)</th>
                            <th>@Html.DisplayNameFor(model => model.OwnerTypeName)</th>
                            <th>@Html.DisplayNameFor(model => model.BuildingTypeName)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AreaPlotFlatData)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AreaName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PlotNo)
                                </td>
                                <td class="role_name">
                                    @Html.DisplayFor(modelItem => item.HolderName)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.OwnerTypeName)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.BuildingTypeName)
                                </td>

                                <td>
                                    <a class="btn btn-sm btn-clean btn-icon btn-icon-md kt-datatable__cell" href="~/Holding/Edit/@item.HolderId" title="হালনাগাদ পেজে যান">
                                        <b> <i class="fa fa-edit"></i>  </b>
                                    </a>
                                    <a class="btn btn-sm btn-clean btn-icon btn-icon-md kt-datatable__cell" href="~/Holding/Details/@item.HolderId" title="বিস্তারিত তথ্য পেজে যান">
                                        <b><i class="fa fa-th-list" aria-hidden="true"></i></b>
                                    </a>
                                    <a class="btn btn-sm btn-clean btn-icon btn-icon-md kt-datatable__cell" href="~/Holding/rptHolderDetails/@item.HolderId" title="হোল্ডার রিপোর্ট">
                                        <b>
                                            <i class="fa fa-file-alt" aria-hidden="true"></i>
                                        </b>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
                <!--end: Datatable-->
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script>
        jQuery(document).ready(function () {
            $('#kt_datatable').KTDatatable({
                search: {
                    input: $('#kt_datatable_search_query'),
                    key: 'generalSearch',
                },
                layout: {
                    class: 'datatable-bordered',
                }
            });
            //$('#kt_datatable_search_status').on('change', function () {
            //    var valueForSearch = $("#kt_datatable_search_status").val();
            //    search_table(valueForSearch);
            //});

            //$('#kt_datatable_search_type').on('change', function () {
            //    var valueForSearch = $("#kt_datatable_search_type").val();
            //    search_table(valueForSearch);
            //});
           
            //function search_table(value) {
            //    $('#kt_datatable tbody tr').each(function () {
            //        var found = 'false';
            //        $(this).each(function () {
            //            if ($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0) {
            //                found = 'true';
            //            }
            //        });
            //        if (found == 'true') {
            //            $(this).show();
            //        }
            //        else {
            //            $(this).hide();
            //        }
            //    });
            //}


           

        });
    </script>


}