@model IEnumerable<HoldingTaxWebApp.Models.SPGTransaction>
@using HoldingTaxWebApp.Helpers
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Sheets{

    <link href="~/Content/FormDesign.css" rel="stylesheet" />
}

<div class="subheader py-2 py-lg-6 subheader-transparent" id="kt_subheader">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <div class="d-flex align-items-center flex-wrap mr-1">
            <div class="d-flex align-items-baseline flex-wrap mr-5">
                <h5 class="text-dark font-weight-bold my-1 mr-5">লেনদেন</h5>
            </div>
        </div>

        <div class="d-flex align-items-center">
            <a onclick="return goBack();" class="btn btn-light-primary font-weight-bolder btn-sm"><i class="fas fa-arrow-left"></i>আগের পেজে যান</a>
        </div>
    </div>
</div>

<div class="d-flex flex-column-fluid">
    <div class="container">
        @if (TempData["SM"] != null)
        {
            <div class="alert alert-custom alert-white alert-shadow gutter-b fade show mb-5" role="alert">
                <div class="alert-text text-center font-weight-bolder" style="color: #24AEEF; font-size: 17px;"> @TempData["SM"]</div>
                <div class="alert-close">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="ki ki-close"></i></span>
                    </button>
                </div>
            </div>
        }
        <div class="card card-custom">
            <div class="card-header flex-wrap border-0 pt-6 pb-0">
                <div class="card-title">
                    <h3 class="card-label">
                        লেনদেন তালিকা
                    </h3>
                </div>
                <div class="card-toolbar">
                    <!--begin::Dropdown-->
                    <!--end::Dropdown-->
                    <!--begin::Button-->
                    @*<a href="~/Plot/Create" class="btn btn-primary font-weight-bolder">
                            <i class="fas fa-plus"></i> নতুন প্লট
                        </a>*@
                    <!--end::Button-->
                </div>
            </div>
            <div class="card-body">
                <!--begin: Search Form-->
                <!--begin::Search Form-->
                <div class="mb-7">
                    <div class="row align-items-center">
                        <div class="col-lg-9 col-xl-8">
                            <div class="row align-items-center">
                                <div class="col-md-4 my-2 my-md-0">
                                    <div class="input-icon">
                                        <input type="text" class="form-control" placeholder="Search..." id="kt_datatable_search_query" />
                                        <span>
                                            <i class="flaticon2-search-1 text-muted"></i>
                                        </span>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                </div>
                <!--end::Search Form-->
                <!--end: Search Form-->
                <!--begin: Datatable-->
                <table class="datatable datatable-bordered datatable-head-custom" id="kt_datatable">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.HolderName)</th>
                            <th>@Html.DisplayNameFor(model => model.RefTranNo)</th>
                            <th>@Html.DisplayNameFor(model => model.PayAmount)</th>
                            <th>@Html.DisplayNameFor(model => model.FinancialYear)</th>
                            <th>@Html.DisplayNameFor(model => model.strTranDateTime)</th>
                            <th>@Html.DisplayNameFor(model => model.TranactionId)</th>
                            <th>@Html.DisplayNameFor(model => model.StatusMsg)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.HolderName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RefTranNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PayAmount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FinancialYear)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.strTranDateTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TranactionId)
                            </td>
                            <td>
                                @if (item.TransactionStatus == "200")
                                {
                                    <span class="font-weight-bolder" style="color: darkgreen !important;">@item.StatusMsg</span>
                                }
                                else
                                {
                                    <span class="font-weight-bolder" style="color: red !important;">@item.StatusMsg</span>
                                }
                            </td>
                            <td>
                                <a class="btn btn-sm btn-clean btn-icon btn-icon-md kt-datatable__cell" href="~/SPG/Details/@item.Id" title="বিস্তারিত তথ্য পেজে যান">
                                    <b><i class="fa fa-th-list" aria-hidden="true"></i></b>
                                </a>
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
                <!--end: Datatable-->
            </div>
        </div>
    </div>
</div>
<!--end::Card-->


@section Scripts
{
    <script>
        jQuery(document).ready(function () {
            $('#kt_datatable').KTDatatable({
                search: {
                    input: $('#kt_datatable_search_query'),
                    key: 'generalSearch',
                },
                layout: {
                    class: 'datatable-bordered',
                }
            });
        });
    </script>
}





