@model List<HoldingTaxWebApp.ViewModels.UserPermission>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@if (Model != null && Model.Count > 0)
{
    <div class="row">
        <div class="col-md-12">
            <div class="card card-custom gutter-b example example-compact">
                <div class="card-header">
                    <h3 class="card-title">User Full Name : &nbsp; <b class="kt-font-brand"> @ViewBag.SingleData.UserFullName</b></h3>
                    <div class="card-toolbar">
                        <div class="example-tools justify-content-center">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-10">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>SL</th>
                                            <th>Application Funtionality</th>
                                            <th>Read Only</th>
                                            <th>Read and Write</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ int counter = 1;
                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@counter </td>
                                                    <td>@item.Description </td>
                                                    <td>
                                                        <span class="form-control-plaintext kt-font-bolder">
                                                            @if (item.CanAccess == true)
                                                            {
                                                                <span class="text-success"><strong>Permitted</strong></span>
                                                            }
                                                            else
                                                            {
                                                                <span class="text-danger"><strong>Forbidden</strong></span>
                                                            }
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span class="form-control-plaintext kt-font-bolder">
                                                            @if (item.ReadWriteStatus == true)
                                                            {
                                                                <span class="text-success"><strong> Permitted</strong></span>
                                                            }
                                                            else
                                                            {
                                                                <span class="text-danger"><strong> Forbidden</strong></span>
                                                            }
                                                        </span>
                                                    </td>

                                                </tr>
                                                counter = counter + 1;
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                    <br />
                    <div class="row ml-10">
                        <div class="col-lg-5">
                            <div class="form-group form-group-xs row">
                                <label class="col-4 col-form-label">
                                    Created By
                                </label>
                                <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                <div class="col-6">
                                    <span class="form-control-plaintext kt-font-bolder">
                                        @ViewBag.SingleData.CreatedByUserName
                                    </span>
                                </div>
                            </div>
                            <div class="form-group form-group-xs row">
                                <label class="col-4 col-form-label">
                                    Create Date
                                </label>
                                <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                <div class="col-6">
                                    <span class="form-control-plaintext kt-font-bolder">
                                        @ViewBag.SingleData.StringCreateDate
                                    </span>
                                </div>
                            </div>

                        </div>


                        <div class="col-lg-5">
                            <div class="form-group form-group-xs row">
                                <label class="col-4 col-form-label">
                                    Last Updated By
                                </label>
                                <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                <div class="col-6">
                                    <span class="form-control-plaintext kt-font-bolder">
                                        @ViewBag.SingleData.UpdatedByUserName
                                    </span>
                                </div>
                            </div>
                            <div class="form-group form-group-xs row">
                                <label class="col-4 col-form-label">
                                    Last Updated Date
                                </label>
                                <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                <div class="col-6">
                                    <span class="form-control-plaintext kt-font-bolder">
                                        @ViewBag.SingleData.StringLastUpdated
                                    </span>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="text-center">
                        <a href="~/UserPermission/Create" class="btn btn-outline-dark btn-md"><i class="fas fa-arrow-left"></i>Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="card card-custom">
        <h1 class="text-danger">No Datafound</h1>
        <div class="kt-form__actions offset-5">
            <a href="~/UserPermission/Create" class="btn btn-outline-dark btn-md">Back to List</a>
        </div>
    </div>
}




