@model List<HoldingTaxWebApp.ViewModels.UserPermission>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="subheader py-2 py-lg-6 subheader-transparent" id="kt_subheader">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <div class="d-flex align-items-center flex-wrap mr-1">
            <div class="d-flex align-items-baseline flex-wrap mr-5">
                <h5 class="text-dark font-weight-bold my-1 mr-5">সফটওয়্যার ব্যবহারকারীদের(ঢাকা ক্যাটনমেন্ট বোর্ড) অনুমতি প্রদান </h5>
                <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                    <li class="breadcrumb-item text-muted">
                        <a href="#" class="text-muted">সফটওয়্যার ব্যবহারকারীদের(ঢাকা ক্যাটনমেন্ট বোর্ড) অনুমতির বিশদ তথ্য  </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <a onclick="return goBack();" class="btn btn-light-primary font-weight-bolder btn-sm"><i class="fas fa-arrow-left"></i>আগের পেজে যান</a>
        </div>
    </div>
</div>


@if (Model != null && Model.Count > 0)
{
    <div class="d-flex flex-column-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-custom gutter-b example example-compact">
                        <div class="card-header">
                            <div class="row offset-1">
                                <h3 class="card-title">ব্যবহারকারীর পুরো নাম: &nbsp; <b class="kt-font-brand"> @ViewBag.SingleData.UserFullName</b></h3>
                                <div class="card-toolbar">
                                    <div class="example-tools justify-content-center">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-10">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>ক্রমিক নং </th>
                                                    <th>সফটওয়্যার এর ফাংশন/কাজের নাম</th>
                                                    <th>শুধুমাত্র দেখতে পারবেন </th>
                                                    <th>দেখতে এবং পরিচালনা করতে পারবেন</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{ int counter = 1;
                                                    foreach (var item in Model)
                                                    {
                                                        <tr>
                                                            <td>@counter </td>
                                                            <td>@item.Description </td>
                                                            <td>
                                                                <span class="form-control-plaintext kt-font-bolder">
                                                                    @if (item.CanAccess == true)
                                                                    {
                                                                        <span class="text-success"><strong>অনুমোদিত</strong></span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span class="text-danger"><strong>অননুমোদিত</strong></span>
                                                                    }
                                                                </span>
                                                            </td>
                                                            <td>
                                                                <span class="form-control-plaintext kt-font-bolder">
                                                                    @if (item.ReadWriteStatus == true)
                                                                    {
                                                                        <span class="text-success"><strong> অনুমোদিত</strong></span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span class="text-danger"><strong> অননুমোদিত</strong></span>
                                                                    }
                                                                </span>
                                                            </td>

                                                        </tr>
                                                        counter = counter + 1;
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                            <br />
                            <div class="row ml-10">
                                <div class="col-lg-5">
                                    <div class="form-group form-group-xs row">
                                        <label class="col-4 col-form-label">
                                            যুক্ত করেছেন
                                        </label>
                                        <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                        <div class="col-6">
                                            <span class="form-control-plaintext kt-font-bolder">
                                                @ViewBag.SingleData.CreatedByUserName
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs row">
                                        <label class="col-4 col-form-label">
                                            যুক্ত করার তারিখ
                                        </label>
                                        <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                        <div class="col-6">
                                            <span class="form-control-plaintext kt-font-bolder">
                                                @ViewBag.SingleData.StringCreateDate
                                            </span>
                                        </div>
                                    </div>

                                </div>


                                <div class="col-lg-5">
                                    <div class="form-group form-group-xs row">
                                        <label class="col-4 col-form-label">
                                            শেষ হালনাগাদ করেছেন
                                        </label>
                                        <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                        <div class="col-6">
                                            <span class="form-control-plaintext kt-font-bolder">
                                                @ViewBag.SingleData.UpdatedByUserName
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs row">
                                        <label class="col-4 col-form-label">
                                            শেষ হালনাগাদের তারিখ
                                        </label>
                                        <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                        <div class="col-6">
                                            <span class="form-control-plaintext kt-font-bolder">
                                                @ViewBag.SingleData.StringLastUpdated
                                            </span>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="text-center">
                                <button type="button" onclick="window.location.href = '/UserPermission/Create'" class="btn btn-outline-dark btn-md"><i class="fas fa-arrow-left"></i>মূল তালিকায় ফিরে যান </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="card card-custom">
        <h1 class="text-danger">No Datafound</h1>
        <div class="kt-form__actions offset-5">
            <button type="button" onclick="window.location.href = '/UserPermission/Create'" class="btn btn-outline-dark btn-md">
                <i class="fas fa-arrow-left"></i>মূল তালিকায় ফিরে যান
            </button>
        </div>
    </div>
}




