@model HoldingTaxWebApp.Models.Users.Designation
@using HoldingTaxWebApp.Helpers
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-md-12">
        <div class="card card-custom gutter-b example example-compact">
            <div class="card-header">
                <h3 class="card-title">Details of  : &nbsp;<b class="kt-font-brand">@Model.DesignationName</b> </h3>
                <div class="card-toolbar">
                    <div class="example-tools justify-content-center">
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row ml-10">
                    <div class="col-lg-5">
                        <div class="form-group form-group-xs row">
                            <label class="col-4 col-form-label">
                                @Html.DisplayNameFor(model => model.DesignationName)
                            </label>
                            <span class="col-1 col-form-label kt-font-bolder"> : </span>
                            <div class="col-6">
                                <span class="form-control-plaintext kt-font-bolder">
                                    @Html.DisplayFor(model => model.DesignationName)
                                </span>
                            </div>
                        </div>

                        <div class="form-group form-group-xs row">
                            <label class="col-4 col-form-label ">
                                @Html.DisplayNameFor(model => model.Description)
                            </label>
                            <span class="col-1 col-form-label kt-font-bolder"> : </span>
                            <div class="col-6">
                                <span class="form-control-plaintext kt-font-bolder">
                                    @Html.DisplayFor(model => model.Description)
                                </span>
                            </div>
                        </div>


                        <div class="form-group form-group-xs row">
                            <label class="col-4 col-form-label">
                                @Html.DisplayNameFor(model => model.IsActive)
                            </label>
                            <span class="col-1 col-form-label kt-font-bolder"> : </span>
                            <div class="col-6">
                                <span class="form-control-plaintext kt-font-bolder">
                                    @if (Model.IsActive == true)
                                    {
                                        <span class="kt-badge kt-badge--success kt-badge--inline kt-badge--pill">Active</span>
                                    }
                                    else
                                    {
                                        <span class="kt-badge kt-badge--warning kt-badge--inline kt-badge--pill">Inactive</span>
                                    }
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="text-center">
                    <a href="~/Designation/Edit/@Model.DesignationId" class="btn btn-outline-success btn-md"><i class="fas fa-pencil-alt"></i>Update</a>
                    <a href="~/Designation/Index" class="btn btn-outline-dark btn-md"><i class="fas fa-arrow-left"></i>Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>






