@model HoldingTaxWebApp.Models.Users.Designation
@using HoldingTaxWebApp.Helpers
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Sheets{
    <link href="~/Content/formdesign.css" rel="stylesheet" />
}




    <div class="subheader py-2 py-lg-6 subheader-transparent" id="kt_subheader">
        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <div class="d-flex align-items-center flex-wrap mr-1">
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <h5 class="text-dark font-weight-bold my-1 mr-5"> পদবি</h5>
                    <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                        <li class="breadcrumb-item text-muted">
                            <a href="#" class="text-muted"> পদবির তথ্য হালনাগাদ করুন</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <a onclick="return goBack();" class="btn btn-light-primary font-weight-bolder btn-sm"><i class="fas fa-arrow-left"></i>আগের পেজে যান</a>
            </div>
        </div>
    </div>

<div class="d-flex flex-column-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-custom gutter-b example example-compact">
                    <div class="card-header">
                        <h3 class="card-title">  পদবির তথ্য হালনাগাদ করুন</h3>
                        <div class="card-toolbar">
                            <div class="example-tools justify-content-center">
                            </div>
                        </div>
                    </div>
                    @using (Html.BeginForm("Edit", "Designation", null, FormMethod.Post, new { @class = "form-signin", @id = "kt_form_3", role = "form" }))
                    {
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.DesignationId)

                        <div class="card-body">
                            <fieldset>
                                <legend>পদবির সাধারণ তথ্য</legend>
                                <div class="form-group row m-2">
                                    @Html.LabelFor(model => model.DesignationName, htmlAttributes: new { @class = "col-lg-2 col-form-label text-lg-right" })
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.DesignationName, new { htmlAttributes = new { @class = "form-control", @name = "DesignationName", placeholder = "Enter designation name", @id = "DesignationName" } })
                                        @Html.ValidationMessageFor(model => model.DesignationName, "", new { @class = "text-danger" })
                                    </div>


                                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "col-lg-2 col-form-label text-lg-right" })
                                    <div class="col-lg-4">
                                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @name = "Description", @id = "Description", placeholder = "Enter designation description" })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group row m-2">
                                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "col-lg-2 col-form-label text-lg-right" })
                                    <div class="col-lg-4">
                                        <select class="form-control" name="IsActive" id="IsActive" disabled>
                                            <option value="true">Active</option>
                                            <option value="flase">Inactive</option>
                                        </select>
                                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                            </fieldset>
                        </div>
                        <div class="card-footer">
                            <div class="text-center">
                                <button type="submit" class="btn btn-outline-success btn-md"><i class="fas fa-check"></i>হালনাগাদ করুন</button>
                                <button type="button" onclick="window.location.href = '/Designation/Index'" class="btn btn-outline-dark btn-md"><i class="fas fa-arrow-left"></i>মূল তালিকায় ফিরে যান </button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {

    <script>
        autosize($('#Description'));
        jQuery(document).ready(function () {
            $("#kt_form_3").validate({
                rules: {
                    DesignationName: {
                        required: true
                    }
                },

                invalidHandler: function (event, validator) {
                    KTUtil.scrollTop();
                }
            });
        });
    </script>
}
