@model HoldingTaxWebApp.Models.Users.Designation
@using HoldingTaxWebApp.Helpers
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Sheets{
    <link href="~/Content/formdesign.css" rel="stylesheet" />
}


<div class="card card-custom">


    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet">


                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Update Designation
                        </h3>
                    </div>
                </div>
                @using (Html.BeginForm("Edit", "Designation", null, FormMethod.Post, new { @class = "form-signin", @id = "kt_form_3", role = "form" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.DesignationId)

                    <div class="kt-portlet__body">
                        <div class="kt-section">
                            <div class="kt-section__content">

                                <fieldset>

                                    <legend>Designation Information</legend>

                                    <div class="row m-2">
                                        <div class="col-sm-4 col-lg-4">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.DesignationName, htmlAttributes: new { @class = "" })
                                                @Html.EditorFor(model => model.DesignationName, new { htmlAttributes = new { @class = "form-control", @name = "DesignationName", placeholder = "Designation Name", @id = "DesignationName" } })
                                                @Html.ValidationMessageFor(model => model.DesignationName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-lg-4">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "" })
                                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @name = "Description", @id = "Description" })
                                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-lg-4">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "" })
                                                @if (Model.IsActive == true)
                                                {
                                                    <select class="form-control" name="IsActive" id="IsActive">
                                                        <option value="true">Active</option>
                                                        <option value="false">Inactive</option>
                                                    </select>
                                                }
                                                else
                                                {
                                                    <select class="form-control" name="IsActive" id="IsActive">
                                                        <option value="false">Inactive</option>
                                                        <option value="true">Active</option>
                                                    </select>
                                                }

                                            </div>
                                        </div>

                                    </div>

                                    <br />
                                </fieldset>

                            </div>
                        </div>
                    </div>

                    <div class="kt-form__actions kt-portlet__foot">
                        <div class="row mt-2">
                            <div class="col-lg-12">
                                <div class="col-lg-12 text-center">
                                    <button type="submit" class="btn btn-outline-success btn-md"><i class="fas fa-pencil-alt"></i>Update</button>

                                    <button type="button" onclick="window.location.href = '/Designation/Index'" class="btn btn-outline-dark btn-md"><i class="fas fa-arrow-left"></i>Back to List</button>
                                </div>
                            </div>
                        </div>
                    </div>

                }


            </div>
        </div>
    </div>
</div>



@section Scripts {

    <script>
        autosize($('#Description'));
        jQuery(document).ready(function () {
            $("#kt_form_3").validate({
                rules: {
                    DesignationName: {
                        required: true
                    },


                },

                invalidHandler: function (event, validator) {
                    KTUtil.scrollTop();
                }
            });
        });
    </script>
}
