@model HoldingTaxWebApp.Models.Users.clsUser
@using HoldingTaxWebApp.Helpers
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Sheets{
    <link href="~/Content/FormDesign.css" rel="stylesheet" />
}

<div class="subheader py-2 py-lg-6 subheader-transparent" id="kt_subheader">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <div class="d-flex align-items-center flex-wrap mr-1">
            <div class="d-flex align-items-baseline flex-wrap mr-5">
                <h5 class="text-dark font-weight-bold my-1 mr-5">সফটওয়্যার ব্যবহারকারী</h5>
                <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                    <li class="breadcrumb-item text-muted">
                        <a href="#" class="text-muted">ব্যবহারকারীর তথ্য হালনাগাদ করুন</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <a onclick="return goBack();" class="btn btn-light-primary font-weight-bolder btn-sm"><i class="fas fa-arrow-left"></i>আগের পেজে যান</a>
        </div>
    </div>
</div>



<div class="d-flex flex-column-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-custom gutter-b example example-compact">
                    <div class="card-header">
                        <h3 class="card-title">ব্যবহারকারীর তথ্য হালনাগাদ করুন</h3>
                        <div class="card-toolbar">
                            <div class="example-tools justify-content-center">
                            </div>
                        </div>
                    </div>
                    @using (Html.BeginForm("Edit", "User", null, FormMethod.Post, new { @class = "form-signin", @id = "kt_form_2", role = "form" }))
                    {
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.LogInCredentialId)
                        @Html.HiddenFor(m => m.UserId)

                        <div class="card-body">
                            <fieldset>

                                <legend>General Information</legend>

                                <div class="form-group row m-2">
                                    @Html.LabelFor(model => model.EmpolyeeId, htmlAttributes: new { @class = "col-lg-2 col-form-label text-lg-right" })
                                    <div class="col-lg-4">
                                        @Html.DropDownListFor(model => model.EmpolyeeId, null, "-- Select Employee --", new
                                   {
                                       @class = "form-control",
                                       @name = "EmpolyeeId",
                                       @id = "EmpolyeeId"
                                   })
                                        @Html.ValidationMessageFor(model => model.EmpolyeeId, "", new { @class = "text-danger" })
                                    </div>

                                    @Html.LabelFor(model => model.UserFullName, htmlAttributes: new { @class = "col-lg-2 col-form-label text-lg-right" })
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.UserFullName, new { htmlAttributes = new { @class = "form-control", @name = "UserFullName", placeholder = "Enter user full name", @id = "UserFullName" } })
                                        @Html.ValidationMessageFor(model => model.UserFullName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group row m-2">
                                    @Html.LabelFor(model => model.UserDetails, htmlAttributes: new { @class = "col-lg-2 col-form-label text-lg-right" })
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.UserDetails, new { htmlAttributes = new { @class = "form-control", @name = "UserDetails", placeholder = "Enter user details", @id = "UserDetails" } })
                                        @Html.ValidationMessageFor(model => model.UserDetails, "", new { @class = "text-danger" })
                                    </div>

                                    @Html.LabelFor(model => model.RoleId, htmlAttributes: new { @class = "col-lg-2 col-form-label text-lg-right" })
                                    <div class="col-lg-4">
                                        @Html.DropDownListFor(model => model.RoleId, null, "-- Select Role --", new
                                   {
                                       @class = "form-control",
                                       @name = "RoleId",
                                       @id = "RoleId"
                                   })
                                        @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group row m-2">
                                    @Html.LabelFor(model => model.MobileNumber, htmlAttributes: new { @class = "col-lg-2 col-form-label text-lg-right" })
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.MobileNumber, new { htmlAttributes = new { @class = "form-control", @name = "MobileNumber", placeholder = "Enter mobile number", @id = "MobileNumber" } })
                                        @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })
                                    </div>

                                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-lg-2 col-form-label text-lg-right" })
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @name = "Email", placeholder = "Enter e-mail", @id = "Email" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="separator separator-dashed my-10"></div>

                                <legend>Account Information</legend>
                                <div class="form-group row m-2">
                                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "col-lg-2 col-form-label text-lg-right" })
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @name = "UserName", placeholder = "Enter username", @id = "UserName" } })
                                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                    </div>

                                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "col-lg-2 col-form-label text-lg-right" })
                                    <div class="col-lg-4">
                                        <select class="form-control" name="IsActive" id="IsActive" disabled>
                                            <option value="true">Active</option>
                                            <option value="flase">Inactive</option>
                                        </select>
                                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group row m-2">
                                    @Html.LabelFor(model => model.HashPassword, "পাসওয়ার্ড", htmlAttributes: new { @class = "col-lg-2 col-form-label text-lg-right" })
                                    <div class="col-lg-4">
                                        @Html.PasswordFor(model => model.HashPassword, new { @class = "form-control", @name = "HashPassword", placeholder = "Enter password", @id = "HashPassword" })
                                        @Html.ValidationMessageFor(model => model.HashPassword, "", new { @class = "text-danger" })
                                    </div>

                                    @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "col-lg-2 col-form-label text-lg-right" })
                                    <div class="col-lg-4">
                                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @name = "ConfirmPassword", placeholder = "Enter password again", @id = "ConfirmPassword" })
                                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </fieldset>
                        </div>
                        <div class="card-footer">
                            <div class="text-center">
                                <button type="submit" class="btn btn-outline-success btn-md"><i class="fas fa-pencil-alt"></i>হালনাগাদ করুন</button>
                                <button type="button" onclick="window.location.href = '/User/Index'" class="btn btn-outline-dark btn-md"><i class="fas fa-arrow-left"></i>মূল তালিকায় ফিরে যান</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>

        $('#EmpolyeeId').select2({
            placeholder: "-- Select Employee --",
            allowClear: true
        });

        $('#RoleId').select2({
            placeholder: "-- Select Role --",
            allowClear: true
        });
        jQuery(document).ready(function () {
            //$("#EmpolyeeId").change(function () {
            //    var empTxt = $("#EmpolyeeId option:selected").text().css("color", "black");
            //    $("#UserFullName").val("");
            //    $("#UserFullName").val(empTxt);
            //});

            $("#kt_form_2").validate({
                rules: {
                    EmpolyeeId: {
                        required: true
                    },
                    UserName: {
                        required: true
                    },
                    UserFullName: {
                        required: true
                    },
                    MobileNumber: {
                        required: true
                    },
                    HashPassword: {
                        required: true
                    },
                    ConfirmPassword: {
                        required: true,
                        equalTo: "#HashPassword"
                    },
                    RoleId: {
                        required: true
                    },
                    Email: {
                        email: true
                    }
                },

                invalidHandler: function (event, validator) {
                    KTUtil.scrollTop();
                }
            });
        });
    </script>
}