@model HoldingTaxWebApp.ViewModels.Plots.PlotOwnerCombineVM
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Sheets{
    <link href="~/Content/FormDesign.css" rel="stylesheet" />
}

<div class="subheader py-2 py-lg-6 subheader-transparent" id="kt_subheader">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <div class="d-flex align-items-center flex-wrap mr-1">
            <div class="d-flex align-items-baseline flex-wrap mr-5">
                <h5 class="text-dark font-weight-bold my-1 mr-5">জমি মালিকানার বিবরন</h5>
                <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                    <li class="breadcrumb-item text-muted">
                        <a href="#" class="text-muted">বিশদ তথ্য </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <a onclick="return goBack();" class="btn btn-light-primary font-weight-bolder btn-sm"><i class="fas fa-arrow-left"></i>আগের পেজে যান</a>
        </div>
    </div>
</div>


<div class="d-flex flex-column-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-custom gutter-b example example-compact">
                    <div class="card-header" id="print_header">
                        <div class="row offset-1">
                            <h3 class="card-title">
                                <b class="kt-font-brand">@Model.PlotOwnerName</b>  &nbsp; এর বিশদ তথ্য
                            </h3>

                            <div class="card-toolbar">
                                <div class="example-tools justify-content-center">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="print_div">
                        <div class="row offset-1">
                            <legend> জমি মালিকানা ও হস্তান্তর তথ্য</legend>
                            <div class="col-lg-5">

                                <div class="form-group form-group-xs row">
                                    <label class="col-5 col-form-label">
                                        @Html.DisplayNameFor(model => model.PlotOwnerName)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.PlotOwnerName)
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group form-group-xs row">
                                    <label class="col-5 col-form-label">
                                        @Html.DisplayNameFor(model => model.PlotIdNumber)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.PlotIdNumber)
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group form-group-xs row">

                                    <label class="col-5 col-form-label">
                                        @Html.DisplayNameFor(model => model.IsAlive)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        @if (Model.IsAlive == true)
                                        {
                                            <span class="form-control-plaintext kt-font-bolder">
                                                জীবিত
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="form-control-plaintext kt-font-bolder">
                                                মৃত
                                            </span>

                                        }

                                    </div>
                                </div>

                                <div class="form-group form-group-xs row">
                                    <label class="col-5 col-form-label">
                                        @Html.DisplayNameFor(model => model.OffStatusName)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.OffStatusName)
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group form-group-xs row">
                                    <label class="col-5 col-form-label">
                                        @Html.DisplayNameFor(model => model.PresentAdd)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.PresentAdd)
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group form-group-xs row">
                                    <label class="col-5 col-form-label">
                                        @Html.DisplayNameFor(model => model.PermanentAdd)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.PermanentAdd)
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group form-group-xs row">
                                    <label class="col-5 col-form-label">
                                        @Html.DisplayNameFor(model => model.PhoneNumber)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.PhoneNumber)
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group form-group-xs row">
                                    <label class="col-5 col-form-label">
                                        @Html.DisplayNameFor(model => model.Email)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.Email)
                                        </span>
                                    </div>
                                </div>

                                @if (!string.IsNullOrWhiteSpace(Model.Doc1))
                                {
                                    <div class="form-group form-group-xs row">
                                        <label class="col-5 col-form-label">
                                            @Html.DisplayNameFor(model => model.Doc1)
                                        </label>
                                        <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                        <div class="col-5">
                                            <span class="form-control-plaintext kt-font-bolder">

                                                <a class="btn btn-outline-success btn-sm" href="~/Holding/DownloadFile?filePath=@Model.Doc1" title="Download">ডাউনলোড নথি নং ১</a>


                                            </span>
                                        </div>
                                    </div>
                                }

                                @if (!string.IsNullOrWhiteSpace(Model.Doc2))
                                {
                                    <div class="form-group form-group-xs row">
                                        <label class="col-5 col-form-label">
                                            @Html.DisplayNameFor(model => model.Doc2)
                                        </label>
                                        <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                        <div class="col-5">
                                            <span class="form-control-plaintext kt-font-bolder">
                                                @if (!string.IsNullOrWhiteSpace(Model.Doc2))
                                                {
                                                    <a class="btn btn-outline-success btn-sm" href="~/Holding/DownloadFile?filePath=@Model.Doc2" title="Download">ডাউনলোড নথি নং ২</a>
                                                }

                                            </span>
                                        </div>
                                    </div>
                                }

                                @if (!string.IsNullOrWhiteSpace(Model.Doc3))
                                {
                                    <div class="form-group form-group-xs row">
                                        <label class="col-5 col-form-label">
                                            @Html.DisplayNameFor(model => model.Doc3)
                                        </label>
                                        <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                        <div class="col-5">
                                            <span class="form-control-plaintext kt-font-bolder">
                                                <a class="btn btn-outline-success btn-sm" href="~/Holding/DownloadFile?filePath=@Model.Doc3" title="Download">ডাউনলোড নথি নং ৩</a>
                                            </span>
                                        </div>
                                    </div>
                                }


                                @if (!string.IsNullOrWhiteSpace(Model.Doc4))
                                {
                                    <div class="form-group form-group-xs row">
                                        <label class="col-5 col-form-label">
                                            @Html.DisplayNameFor(model => model.Doc4)
                                        </label>
                                        <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                        <div class="col-5">
                                            <span class="form-control-plaintext kt-font-bolder">
                                                <a class="btn btn-outline-success btn-sm" href="~/Holding/DownloadFile?filePath=@Model.Doc4" title="Download">ডাউনলোড নথি নং ৪</a>
                                            </span>
                                        </div>
                                    </div>
                                }

                                @if (!string.IsNullOrWhiteSpace(Model.Doc5))
                                {
                                    <div class="form-group form-group-xs row">
                                        <label class="col-5 col-form-label">
                                            @Html.DisplayNameFor(model => model.Doc5)
                                        </label>
                                        <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                        <div class="col-5">
                                            <span class="form-control-plaintext kt-font-bolder">
                                                <a class="btn btn-outline-success btn-sm" href="~/Holding/DownloadFile?filePath=@Model.Doc5" title="Download">ডাউনলোড নথি নং ৫</a>
                                            </span>
                                        </div>
                                    </div>
                                }

                                @if (!string.IsNullOrWhiteSpace(Model.Doc6))
                                {
                                    <div class="form-group form-group-xs row">
                                        <label class="col-5 col-form-label">
                                            @Html.DisplayNameFor(model => model.Doc6)
                                        </label>
                                        <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                        <div class="col-5">
                                            <span class="form-control-plaintext kt-font-bolder">
                                                <a class="btn btn-outline-success btn-sm" href="~/Holding/DownloadFile?filePath=@Model.Doc6" title="Download">ডাউনলোড নথি নং ৬</a>
                                            </span>
                                        </div>
                                    </div>
                                }

                            </div>

                            <div class="col-lg-5">

                                <div class="form-group form-group-xs row">
                                    <label class="col-5 col-form-label">
                                        @Html.DisplayNameFor(model => model.StringLeaveDate)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.StringLeaveDate)
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group form-group-xs row">
                                    <label class="col-5 col-form-label">
                                        @Html.DisplayNameFor(model => model.LeaseAuthority)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.LeaseAuthority)
                                        </span>
                                    </div>
                                </div>


                                <div class="form-group form-group-xs row">
                                    <label class="col-5 col-form-label">
                                        @Html.DisplayNameFor(model => model.LeaseType)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.LeaseType)
                                        </span>
                                    </div>
                                </div>


                                <div class="form-group form-group-xs row">
                                    <label class="col-5 col-form-label">
                                        @Html.DisplayNameFor(model => model.LeasePeriod)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.LeasePeriod)
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group form-group-xs row">
                                    <label class="col-5 col-form-label">
                                        @Html.DisplayNameFor(model => model.LeaseQuotaName)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.LeaseQuotaName)
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group form-group-xs row">
                                    <label class="col-5 col-form-label">
                                        @Html.DisplayNameFor(model => model.HandOverOffice)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.HandOverOffice)
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group form-group-xs row">
                                    <label class="col-5 col-form-label">
                                        @Html.DisplayNameFor(model => model.HandOverLetterNo)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.HandOverLetterNo)
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group form-group-xs row">
                                    <label class="col-5 col-form-label">
                                        @Html.DisplayNameFor(model => model.LandDevelopChange)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.LandDevelopChange)
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group form-group-xs row">
                                    <label class="col-5 col-form-label">
                                        @Html.DisplayNameFor(model => model.ConsStatusName)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.ConsStatusName)
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group form-group-xs row">
                                    <label class="col-5 col-form-label">
                                        @Html.DisplayNameFor(model => model.CreatedByUserName)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.CreatedByUserName)
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        @if (Model.LeaseType == "যৌথ")
                        {
                            <div class="separator separator-dashed my-10"></div>
                            <div class="row offset-1">
                                <div class="col-lg-11">
                                    <legend>অন্যান্য মালিকের বিবরণ</legend>
                                    <br />
                                    <table class="table table-bordered table-hover table-sm" width="100" id="flat_details">
                                        <thead class="thead-light text-center">
                                            <tr>
                                                <th>সিরিয়াল নাম্বার</th>
                                                <th>প্লট মালিকের নাম</th>
                                                <th>ঠিকানা</th>
                                                <th>মন্তব্য</th>

                                            </tr>
                                        </thead>
                                        <tbody class="text-center">
                                            @{ int i = 1;
                                                foreach (var item in Model.OthetPlotOwner)
                                                {
                                                    <tr>
                                                        <td>@i</td>
                                                        <td>@item.OthetOwneeName</td>
                                                        <td>@item.Address</td>
                                                        <td>@item.Remarks</td>

                                                    </tr>
                                                    i = i + 1;
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }


                        @*//@if(Model.DesignApproval. )*@
                        <div class="separator separator-dashed my-10"></div>
                        <div class="row offset-1">
                            <div class="col-lg-11">
                                <legend>নকশা অনুমোদনের বিবরণ</legend>
                                <br />
                                <table class="table table-bordered table-hover table-sm" width="100" id="flat_details">
                                    <thead class="thead-light text-center">
                                        <tr>
                                            <th>সিরিয়াল নাম্বার</th>
                                            <th>এম ই ও এনওসি তারিখ</th>
                                            <th>বোর্ড মিটিং রেফারেন্স</th>
                                            <th>প্ল্যান আনুমোদন তারিখ</th>
                                            <th>অনুমোদন নং</th>
                                            <th>অনুমোদন পত্র নং</th>
                                            <th>তলার সংখ্যা</th>
                                            <th>গ্রাউন্ড ফ্লোরের আয়তন</th>
                                            <th>অন্যান্য ফ্লোরের আয়তন</th>


                                        </tr>
                                    </thead>
                                    <tbody class="text-center">
                                        @{ int i2 = 1;
                                            foreach (var item in Model.DesignApproval)
                                            {
                                                <tr>
                                                    <td>@i2</td>
                                                    <td>@item.StringMEO_NCCDate</td>
                                                    <td>@item.Reference</td>
                                                    <td>@item.StringApprovalDate</td>
                                                    <td>@item.ApprovalNo</td>
                                                    <td>@item.ApprovalLetterNo</td>
                                                    <td>@item.FlorNumber</td>
                                                    <td>@item.GroundFlorArea</td>
                                                    <td>@item.OtherFlorArea</td>


                                                </tr>
                                                i2 = i2 + 1;
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>


                        <div class="separator separator-dashed my-10"></div>
                        <div class="row offset-1">
                            <legend>   নির্মান অগ্রগতি ও ফ্ল্যাট মালিকানার তথ্য</legend>

                            <div class="col-lg-5">
                                <div class="form-group form-group-xs row">
                                    <label class="col-5 col-form-label">
                                        @Html.DisplayNameFor(model => model.OwnerDeclaration)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.OwnerDeclaration)
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group form-group-xs row">
                                    <label class="col-5 col-form-label">
                                        @Html.DisplayNameFor(model => model.RealBuilder)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.RealBuilder)
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group form-group-xs row">
                                    <label class="col-5 col-form-label">
                                        @Html.DisplayNameFor(model => model.DevelopDeposit)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.DevelopDeposit)
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group form-group-xs row">
                                    <label class="col-5 col-form-label">
                                        @Html.DisplayNameFor(model => model.FloorNumber)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.FloorNumber)
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group form-group-xs row">
                                    <label class="col-5 col-form-label">
                                        @Html.DisplayNameFor(model => model.OwnerPortion)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.OwnerPortion)
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group form-group-xs row">
                                    <label class="col-5 col-form-label">
                                        @Html.DisplayNameFor(model => model.DeveloperPortion)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.DeveloperPortion)
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group form-group-xs row">
                                    <label class="col-5 col-form-label">
                                        @Html.DisplayNameFor(model => model.BuyerPortion)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.BuyerPortion)
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group form-group-xs row">
                                    <label class="col-5 col-form-label">
                                        @Html.DisplayNameFor(model => model.SubmittedPortion)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.SubmittedPortion)
                                        </span>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-5">


                                <div class="form-group form-group-xs row">
                                    <label class="col-5 col-form-label">
                                        @Html.DisplayNameFor(model => model.StringCompletionDate)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.StringCompletionDate)
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group form-group-xs row">
                                    <label class="col-5 col-form-label">
                                        @Html.DisplayNameFor(model => model.StringGroundFCDate)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.StringGroundFCDate)
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group form-group-xs row">
                                    <label class="col-5 col-form-label">
                                        @Html.DisplayNameFor(model => model.StringFirstFCDate)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.StringFirstFCDate)
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group form-group-xs row">
                                    <label class="col-5 col-form-label">
                                        @Html.DisplayNameFor(model => model.StringSccFCDate)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.StringSccFCDate)
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group form-group-xs row">
                                    <label class="col-5 col-form-label">
                                        @Html.DisplayNameFor(model => model.StringThirdFCDate)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.StringThirdFCDate)
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group form-group-xs row">
                                    <label class="col-5 col-form-label">
                                        @Html.DisplayNameFor(model => model.StringForthFCDate)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.StringForthFCDate)
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group form-group-xs row">
                                    <label class="col-5 col-form-label">
                                        @Html.DisplayNameFor(model => model.StringFivthFCDate)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.StringFivthFCDate)
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group form-group-xs row">
                                    <label class="col-5 col-form-label">
                                        @Html.DisplayNameFor(model => model.StringSixFCDate)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.StringSixFCDate)
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group form-group-xs row">
                                    <label class="col-5 col-form-label">
                                        @Html.DisplayNameFor(model => model.StringOtherFCDate)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.StringOtherFCDate)
                                        </span>
                                    </div>
                                </div>



                            </div>
                        </div>


                        @if (Model.TotalUnauthArea > 0)
                        {
                            <div class="separator separator-dashed my-10"></div>
                            <div class="row offset-1">
                                <legend>   অননুমোদিত নির্মান তথ্য</legend>
                                <div class="col-lg-5">
                                    <div class="form-group form-group-xs row">
                                        <label class="col-5 col-form-label">
                                            @Html.DisplayNameFor(model => model.TotalUnauthArea)
                                        </label>
                                        <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                        <div class="col-5">
                                            <span class="form-control-plaintext kt-font-bolder">
                                                @Html.DisplayFor(model => model.TotalUnauthArea)
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group form-group-xs row">
                                        <label class="col-5 col-form-label">
                                            @Html.DisplayNameFor(model => model.FineFreeArea)
                                        </label>
                                        <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                        <div class="col-5">
                                            <span class="form-control-plaintext kt-font-bolder">
                                                @Html.DisplayFor(model => model.FineFreeArea)
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group form-group-xs row">
                                        <label class="col-5 col-form-label">
                                            @Html.DisplayNameFor(model => model.WithFineUnauth)
                                        </label>
                                        <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                        <div class="col-5">
                                            <span class="form-control-plaintext kt-font-bolder">
                                                @Html.DisplayFor(model => model.WithFineUnauth)
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group form-group-xs row">
                                        <label class="col-5 col-form-label">
                                            @Html.DisplayNameFor(model => model.RemovedUnauthArea)
                                        </label>
                                        <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                        <div class="col-5">
                                            <span class="form-control-plaintext kt-font-bolder">
                                                @Html.DisplayFor(model => model.RemovedUnauthArea)
                                            </span>
                                        </div>
                                    </div>

                                    </div>

                                        <div class="col-lg-5">

                                    <div class="form-group form-group-xs row">
                                        <label class="col-5 col-form-label">
                                            @Html.DisplayNameFor(model => model.NonRemovedUnauth)
                                        </label>
                                        <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                        <div class="col-5">
                                            <span class="form-control-plaintext kt-font-bolder">
                                                @Html.DisplayFor(model => model.NonRemovedUnauth)
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group form-group-xs row">
                                        <label class="col-5 col-form-label">
                                            @Html.DisplayNameFor(model => model.FineRate)
                                        </label>
                                        <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                        <div class="col-5">
                                            <span class="form-control-plaintext kt-font-bolder">
                                                @Html.DisplayFor(model => model.FineRate)
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group form-group-xs row">
                                        <label class="col-5 col-form-label">
                                            @Html.DisplayNameFor(model => model.FineAmount)
                                        </label>
                                        <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                        <div class="col-5">
                                            <span class="form-control-plaintext kt-font-bolder">
                                                @Html.DisplayFor(model => model.FineAmount)
                                            </span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }
                    </div>

                    <div class="card-footer">
                        <div class="text-center">
                            <a href="~/PlotOwner/Edit/@Model.PlotOwnerId" class="btn btn-outline-success btn-md">
                                <i class="fas fa-pen"></i>হালনাগাদের পেজে  যান
                            </a>
                            <a href="~/PlotOwner/Index" class="btn btn-outline-dark btn-md"><i class="fas fa-arrow-left"></i>মূল তালিকায় ফিরে যান</a>
                            <button id="print_this" class="btn btn-light-primary btn-md"><i class="fas fa-list"></i>প্রিন্ট করুন</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/printThis.js"></script>
    <script>
        jQuery(document).ready(function () {
            $("#print_this").on('click', function (e) {
                e.preventDefault();
                $("#print_div").printThis({
                    header: $('#print_header')
                });
            });
        });
    </script>
}
