
@model IEnumerable<HoldingTaxWebApp.Models.Tax.HoldingTax>
@using HoldingTaxWebApp.Helpers

@section sheets{
    <style>
        .tab_list {
            counter-reset: Serial; /* Set the Serial counter to 0 */
        }

            .tab_list td:first-child:before {
                counter-increment: Serial; /* Increment the Serial counter */
                content: counter(Serial); /* Display the counter */
            }
    </style>
    }

@if (Model != null && Model.Count() > 0)
{
    <table class="table table-bordered table-hover table-sm tab_list" width="100">
        <thead class="thead-dark">
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.HolderNamecon)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AreaName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PlotNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HolderNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FinancialYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NetTaxPayableAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PaidAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsPaid)
                </th>
                <th></th>


            </tr>
        </thead>
        <tbody class="text-left">
            @foreach (var item in Model)
            {
                <tr>
                    <td></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HolderNamecon)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AreaName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlotNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HolderNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FinancialYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NetTaxPayableAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaidAmount)
                    </td>
                    <td>
                        @if (item.IsPaid == true)
                        {
                            <span style="color: green; font-size: 16px;">কর পরিশোধিত    </span>
                        }
                        else
                        {
                            <span style="color: red; font-size: 16px;">কর অপরিশোধিত    </span>
                        }
                    </td>
                    <td>
                        @if ((Convert.ToInt32(Session[CommonConstantHelper.UserTypeId]) == 1))
                        {
                            if (item.IsPaid == false)
                            {
                                <a class="btn btn-sm btn-clean btn-icon btn-icon-md kt-datatable__cell" href="~/HoldingTax/Edit/@item.HoldingTaxId" title="কাউন্টার পেমেন্ট করুন">
                                    <b> <i class="fa fa-edit"></i>  </b>
                                </a>
                            }
                        }
                        <a class="btn btn-sm btn-clean btn-icon btn-icon-md kt-datatable__cell" href="~/HoldingTax/Invoice/@item.HoldingTaxId" title="ইনভয়েস দেখুন">
                            <b> <i class="fa fa-file-invoice"></i>  </b>
                        </a>
                        <a class="btn btn-sm btn-clean btn-icon btn-icon-md kt-datatable__cell" href="~/HoldingTax/Details/@item.HoldingTaxId" title="রিপোর্ট দেখুন">
                            <b><i class="fa fa-chart-bar" aria-hidden="true"></i></b>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    if ((Convert.ToInt32(Session[CommonConstantHelper.UserTypeId]) == 1))
    {
        <table class="table table-bordered table-hover table-sm" width="100">
            <thead class="thead-dark">
                <tr>
                    <th class="font-size-h4-md">
                        <b>মোট নেট প্রদেয়/আদায়যোগ্য করের পরিমাণ  : &nbsp; @ViewBag.TotalNetPayableAmount</b>
                    </th>
                    <th class="font-size-h4-md">
                        <b> মোট পরিশোধিত করের পরিমাণ : &nbsp; @ViewBag.TotalPaidAmount</b>
                    </th>
                    <th class="font-size-h4-md">
                        <b> মোট অপরিশোধিত করের পরিমাণ : &nbsp; @ViewBag.TotalUnPaidAmount </b>
                    </th>
                </tr>
            </thead>
        </table>
    }
}
else
{
    <h1 class="text-capitalize text-center text-info"> No Data Found .....</h1>
}

