@model HoldingTaxWebApp.Models.Tax.HoldingTax

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HoldingTax</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HolderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HolderId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinancialYearId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinancialYearId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalRent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalRent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxFromRent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxFromRent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxFromOwnProperty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxFromOwnProperty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalHoldingTax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalHoldingTax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surcharge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surcharge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rebate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rebate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WrongInfoCharge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WrongInfoCharge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isFinalized)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isFinalized)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaidAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaidAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NetTaxPayableAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NetTaxPayableAmount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HoldingTaxId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
