@model IEnumerable<HoldingTaxWebApp.Models.Tax.HoldingTax>
@using HoldingTaxWebApp.Helpers

@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Sheets{
    <link href="~/Content/FormDesign.css" rel="stylesheet" />
}

<div class="subheader py-2 py-lg-6 subheader-transparent" id="kt_subheader">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <div class="d-flex align-items-center flex-wrap mr-1">
            <div class="d-flex align-items-baseline flex-wrap mr-5">
                <h5 class="text-dark font-weight-bold my-1 mr-5">গৃহকর</h5>

            </div>
        </div>
        <div class="d-flex align-items-center">
            <a onclick="return goBack();" class="btn btn-light-primary font-weight-bolder btn-sm"><i class="fas fa-arrow-left"></i>আগের পেজে যান</a>
        </div>
    </div>
</div>




<div class="d-flex flex-column-fluid">
    <div class="container">
        @if (TempData["SM"] != null)
        {
            <div class="alert alert-custom alert-white alert-shadow gutter-b fade show mb-5" role="alert">
                <div class="alert-text font-weight-bolder" style="color: #0BB783;">@TempData["SM"]</div>
                <div class="alert-close">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="ki ki-close"></i></span>
                    </button>
                </div>
            </div>
        }
        <div class="card card-custom">
            <div class="card-header flex-wrap border-0 pt-6 pb-0">
                <div class="card-title">
                    <h3 class="card-label">
                        গৃহকরের তালিকা
                    </h3>
                </div>
                <div class="card-toolbar">
                    @if ((Convert.ToInt32(Session[CommonConstantHelper.UserTypeId]) == 1))
                    {
                        <a href="~/HoldingTax/Create" class="btn btn-primary font-weight-bolder">
                            <i class="fas fa-plus">
                            </i>নতুন গৃহকর প্রস্তুতকরণ
                        </a>
                    }
                </div>
            </div>
            <div class="card-body">
                <div class="mb-7">
                    <div class="row align-items-center">
                        <div class="col-lg-9 col-xl-8">
                            <div class="row align-items-center">
                                <div class="col-md-4 my-2 my-md-0">
                                    <div class="input-icon">
                                        <input type="text" class="form-control" placeholder="Search..." id="kt_datatable_search_query" />
                                        <span>
                                            <i class="flaticon2-search-1 text-muted"></i>
                                        </span>
                                    </div>
                                </div>

                                @*--------------- new part for dropdown search ------------------------*@
                                <div class="col-md-4 my-2 my-md-0">
                                    <div class="d-flex align-items-center">
                                        <label class="mr-3 mb-0 d-none d-md-block">এলাকা:</label>
                                        <select class="form-control" id="kt_datatable_search_area">
                                            <option value="">  সব  </option>
                                            @foreach (var item in ViewBag.AreaId)
                                            {
                                                <option value="@item.Text">@item.Text</option>
                                            }

                                        </select>
                                    </div>
                                </div>
                                @*<div class="col-md-4 my-2 my-md-0">
                                        <div class="d-flex align-items-center">
                                            <label class="mr-3 mb-0 d-none d-md-block">Type:</label>
                                            <select class="form-control" id="kt_datatable_search_type">
                                                <option value="">All</option>
                                                <option value="1">Online</option>
                                                <option value="2">Retail</option>
                                                <option value="3">Direct</option>
                                            </select>
                                        </div>
                                    </div>*@
                                @*--------------- End part for dropdown search ------------------------*@
                            </div>
                        </div>

                    </div>
                </div>
                <!--end::Search Form-->
                <!--begin: Datatable-->
                <table class="datatable datatable-bordered datatable-head-custom" id="kt_datatable1">
                    <thead>
                        <tr>

                            <th>@Html.DisplayNameFor(model => model.FinancialYear)</th>
                            <th>
                                @Html.DisplayNameFor(model => model.AreaName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PlotNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TaxFromRent)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TaxFromOwnProperty)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TotalHoldingTax)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NetTaxPayableAmount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LastUpdated)
                            </th>
                            <th></th>


                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FinancialYear)
                                </td>
                                <td class="AreaName">
                                    @Html.DisplayFor(modelItem => item.AreaName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PlotNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TaxFromRent)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TaxFromOwnProperty)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalHoldingTax)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NetTaxPayableAmount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastUpdated)
                                </td>
                                <td>
                                    @if ((Convert.ToInt32(Session[CommonConstantHelper.UserTypeId]) == 1))
                                    {
                                        <a class="btn btn-sm btn-clean btn-icon btn-icon-md kt-datatable__cell" href="~/HoldingTax/Edit/@item.HoldingTaxId" title="Edit">
                                            <b> <i class="fa fa-edit"></i>  </b>
                                        </a>
                                    }
                                    <a class="btn btn-sm btn-clean btn-icon btn-icon-md kt-datatable__cell" href="~/HoldingTax/Details/@item.HoldingTaxId" title="Report View">
                                        <b><i class="fa fa-chart-bar" aria-hidden="true"></i></b>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
                <!--end: Datatable-->
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <!--begin::Page Scripts(used by this page)-->
    @*<script src="~/Theme/dist/assets/js/pages/crud/ktdatatable/base/html-table.js"></script>*@
    <!--end::Page Scripts-->
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.fixedHeader.min.js"></script>
    <script>
        jQuery(document).ready(function () {
            //var datatable = $('#kt_datatable').KTDatatable(options);
            //var datatable = $('#kt_datatable').KTDatatable({
            //    search: {
            //        input: $('#kt_datatable_search_query'),
            //        key: 'generalSearch',
            //    },
            //    layout: {
            //        class: 'datatable-bordered',
            //    }
            //});
            //$('#kt_datatable1').DataTable();

            $('#kt_datatable1 thead tr').clone(true).appendTo('#kt_datatable1 thead');
            $('#kt_datatable1 thead tr:eq(1) th').each(function (i) {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="Search ' + title + '" />');

                $('input', this).on('keyup change', function () {
                    if (table.column(i).search() !== this.value) {
                        table
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });
            });

            var table = $('#kt_datatable1').DataTable({
                orderCellsTop: true,
                fixedHeader: true
            });


            // added for search query
            //$('#kt_datatable_search_area').on('change', function () {
            //    debugger;
            //    var value1 = $(this).val();
            //    var columnName = datatable.columns("AreaName")
            //    var columnName3 = datatable.getRecord(1).columns(1).getValue();
            //    datatable.search($(this).val(), columnName1);
            //    //var list = datatable.search($(this).val(), value1);
            //    var value2 = datatable.getRecord(1).getColumn('AreaName').getValue();
            //});


            //$('#kt_datatable_search_area').selectpicker();
        });
    </script>
}



