@model HoldingTaxWebApp.ViewModels.Tax.InvoiceVM
@{
    ViewBag.Title = "Invoice";
}
<!--begin::Subheader-->
<div class="subheader py-2 py-lg-6 subheader-transparent" id="kt_subheader">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <div class="d-flex align-items-center flex-wrap mr-1">
            <!--begin::Page Heading-->
            <div class="d-flex align-items-baseline flex-wrap mr-5">
                <!--begin::Page Title-->
                <h5 class="text-dark font-weight-bold my-1 mr-5">রশিদ</h5>
                <!--end::Page Title-->
                <!--begin::Breadcrumb-->
                <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                    @*<li class="breadcrumb-item text-muted">
                            <a href="" class="text-muted"></a>
                        </li>
                        <li class="breadcrumb-item text-muted">
                            <a href="" class="text-muted"></a>
                        </li>*@
                </ul>
                <!--end::Breadcrumb-->
            </div>
            <!--end::Page Heading-->
        </div>
        <!--end::Info-->
        <!--begin::Toolbar-->
        <div class="d-flex align-items-center">
            <!--begin::Actions-->
            @*<a href="#" class="btn btn-light-primary font-weight-bolder btn-sm">Actions</a>*@
            <a onclick="return goBack();" class="btn btn-light-primary font-weight-bolder btn-sm"><i class="fas fa-arrow-left"></i>আগের পেজে যান</a>
            <!--end::Actions-->
            <!--begin::Dropdown-->
            <!--end::Dropdown-->
        </div>
        <!--end::Toolbar-->
    </div>
</div>
<!--end::Subheader-->
<!--begin::Entry-->
<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container">
        <!-- begin::Card-->
        <div class="card card-custom overflow-hidden">
            <div class="card-body p-0">
                <!-- begin: Invoice-->
                <div id="print_div">
                    <!-- Start: print-->
                    <!-- begin: Invoice header-->
                    <div class="row justify-content-center py-8 px-8 py-md-27 px-md-0">
                        <div class="col-md-9">
                            <div class="d-flex justify-content-between pb-10 pb-md-20 flex-column flex-md-row">
                          
                        
                                <div class="display-4 font-weight-boldest mb-10 flex-md-row">
                                    @if (Model.Ispaid == true)
                                    {
                                        <img src="~/Images/paid.png" height="50"/>
                                    }
                                </div>
                                <div class="h1 display-4 font-weight-boldest mb-10 flex-md-row">
                                    <span>ক্যান্টনমেন্ট বোর্ড, ঢাকা ক্যান্টনমেন্ট</span><br />
                                    @*<span>www.canttboard-dhaka.gov.bd</span>*@
                                </div>
                                <div class="display-4 font-weight-boldest mb-10 flex-md-row">
                                    রশিদ
                                </div>
                                @*<div class="d-flex flex-column align-items-md-end px-0">
                                    <!--begin::Logo-->
                                    <a href="#" class="mb-5">
                                        @if (Model.Ispaid == true)
                                        {
                                            <img src="~/Images/paid.png" />
                                        }


                                    </a>
                                    <!--end::Logo-->
                                    <span class="d-flex flex-column align-items-md-end opacity-70">
                                        <span>ক্যান্টনমেন্ট বোর্ড, ঢাকা ক্যান্টনমেন্ট</span>
                                        <span>www.canttboard-dhaka.gov.bd</span>
                                    </span>
                                </div>*@
                            </div>
                            <div class="border-bottom w-100"></div>
                            <div class="d-flex justify-content-between pt-6">
                                <div class="d-flex flex-column flex-root">
                                    <span class="font-weight-bolder mb-2">তারিখ</span>
                                    <span class="opacity-70">@Model.StringCurrentDate</span>
                                </div>
                                <div class="d-flex flex-column flex-root">
                                    <span class="font-weight-bolder mb-2">রশিদ নং</span>
                                    <span class="opacity-70">@Model.invoiceNo</span>
                                </div>
                                <div class="d-flex flex-column flex-root">
                                    <span class="font-weight-bolder mb-2">জনাব/জনাবা,</span>
                                    <span class="opacity-70">
                                        @Model.HolderName,@Model.PlotNo,@Model.AreaName

                                        <br />@Model.PresentAdd
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end: Invoice header-->
                    <!-- begin: Invoice body-->
                    <div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
                        <div class="col-md-9">
                            <div class="table-responsive">
                                <table class="table">

                                    <tbody>
                                        <tr class="font-weight-boldest">
                                            <td class="text-left" width="70%">@Model.StringoldDate পর্যন্ত বকেয়া গৃহকর------------------------------------</td>
                                            <td class="text-right" width="20%">@Model.DuesPreviousYear</td>
                                            <td class="text-left" width="10%">টাকা</td>
                                        </tr>
                                        <tr class="font-weight-boldest">
                                            <td class="text-left" width="70%">বকেয়ার অতিরিক্ত চার্জ @Model.DuesChargeRate%------------------------------- (+)</td>
                                            <td class="text-right" width="20%">@Model.DuesFineAmount</td>
                                            <td class="text-left" width="10%">টাকা</td>
                                        </tr>
                                        <tr class="font-weight-boldest">
                                            <td class="text-left" width="70%"> @Model.StringStartingDate হতে @Model.StringFEndDate পর্যন্ত @Model.FinancialYear আর্থিক সন--</td>
                                            <td class="text-right" width="20%">@Model.TotalTaxWithSurchargeDue</td>
                                            <td class="text-left" width="10%">টাকা</td>
                                        </tr>
                                        <tr class="font-weight-boldest">
                                            <td class="text-right" width="70%">মোট</td>
                                            <td class="text-right" width="20%">@Model.TotalNet</td>
                                            <td class="text-left" width="10%">টাকা</td>
                                        </tr>
                                        <tr class="font-weight-boldest">
                                            <td class="text-left" width="70%">@Model.StringEndOfYear তারিখের মধ্যে পরিশোধ করলে @Model.FinancialYear আর্থিক সনের উপর @Model.RebateRate% রিবেট (-)  </td>
                                            <td class="text-right" width="20%">@Model.rebateNew</td>
                                            <td class="text-left" width="10%">টাকা</td>
                                        </tr>
                                        <tr class="font-weight-boldest">
                                            <td class="text-right" width="70%">সর্বমোট</td>
                                            <td class="text-right" width="20%">@Model.NetTaxPayableAmount</td>
                                            <td class="text-left" width="10%">টাকা</td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- end: Invoice body-->
                    <!-- begin: Invoice footer-->
                    <div class="row justify-content-center bg-gray-100 py-8 px-8 py-md-10 px-md-0">
                        <div class="col-md-9">
                            <div class="table-responsive">
                                <table class="" border="0" width="100%">
                                    <thead>
                                        @if (Model.Ispaid == true)
                                        {
                                            <tr>
                                                <td colspan="3">
                                                    <img src="~/Images/paid.png" height="50" />
                                                </td>
                                            </tr>}
                                        <tr class="font-weight-bolder">
                                            <td width="30%">ফরম নং ক্যান্ট ৪-বি<br /> [ধারা ২৪ (১)]</td>
                                            <td class="text-center" width="40%">রশিদ</td>
                                            <td class="text-right" width="30%">তারিখ : @Model.StringCurrentDate</td>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="font-weight-bolder">
                                            <td colspan="3" class="text-center">অনুলিপি</td>
                                        </tr>
                                        <tr class="font-weight-bolder">
                                            <td colspan="3" class="text-center"><h1><b>ক্যান্টনমেন্ট বোর্ড, ঢাকা ক্যান্টনমেন্ট</b></h1></td>
                                        </tr>
                                        <tr class="font-weight-bolder">
                                            <td colspan="3">রশিদ নং : @Model.invoiceNo</td>
                                           
                                        </tr>
                                        <tr class="font-weight-bolder">
                                            <td colspan="3">
                                                <p>
                                                    জনাব @Model.HolderName <br />
                                                    হইতে @Model.FinancialYear আর্থিক সনের উপর গৃহকর বাবদ
                                                    প্রাপ্ত <br />টাকা (কথায়) .......................................................................টাকা
                                                   <br />
                                                    (@Model.NetTaxPayableAmount  টাকা)

                                                </p>

                                            </td>

                                        </tr>
                                        <tr class="font-weight-bolder">
                                            <td></td>
                                            <td></td>
                                            <td class="text-center">
                                                <p>
                                                    ক্যান্টনমেন্ট এক্সিকিউটিভ অফিসার<br />
                                                    ঢাকা ক্যান্টনমেন্ট ।

                                                </p>

                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- end: print-->
                </div>
                <!-- end: Invoice footer-->
                <!-- begin: Invoice action-->
                <div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
                    <div class="col-md-9">
                        <div class="d-flex justify-content-between">
                            @*<button type="button" class="btn btn-light-primary font-weight-bold" onclick="window.print();">Download Invoice</button>*@
                            <button type="button" class="btn btn-light-primary font-weight-bold" id="print_this2">Download Invoice</button>
                            @*<button type="button" class="btn btn-primary font-weight-bold" onclick="window.print();">Print Invoice</button>*@
                            <button type="button" class="btn btn-primary font-weight-bold" id="print_this">Print Invoice</button>
                        </div>
                    </div>
                </div>
                <!-- end: Invoice action-->
                <!-- end: Invoice-->
            </div>
        </div>
        <!-- end::Card-->
    </div>
    <!--end::Container-->
</div>
<!--end::Entry-->

@section Scripts {
    <script src="~/Scripts/printThis.js"></script>
    <script>
        jQuery(document).ready(function () {
            $("#print_this").on('click', function (e) {
                e.preventDefault();
                $("#print_div").printThis({
                    header: $('#print_header')
                });
            });

         $("#print_this2").on('click', function (e) {
                e.preventDefault();
                $("#print_div").printThis({
                    header: $('#print_header')
                });
            });
        });
    </script>
}