@model HoldingTaxWebApp.Models.Users.Employee
@using HoldingTaxWebApp.Helpers
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container">
        <!--begin::Notice-->
        <!--end::Notice-->
        <!--begin::Card-->
        <div class="card card-custom">

            <div class="kt-portlet">
                <!-- begin:: Content Head -->
                <div class="kt-subheader   kt-grid__item" id="kt_subheader">
                    <div class="kt-container ">
                        <div class="kt-subheader__main">

                            <h3 class="kt-subheader__title">Details of  : &nbsp;<b class="kt-font-brand">@Model.EmployeeName</b></h3>

                        </div>
                        <div class="kt-subheader__toolbar">
                            <div class="kt-subheader__wrapper">

                            </div>
                        </div>
                    </div>
                </div>
                <!-- end:: Content Head -->
                @*<div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Details of : <b class="kt-font-brand">@Model.RoleName</b>
                            </h3>
                        </div>
                    </div>*@
                <div class="kt-form kt-form--label-right">
                    <div class="kt-portlet__body">

                        <div class="row ml-10">
                            <div class="col-lg-5">
                                <div class="form-group form-group-xs row">
                                    <label class="col-4 col-form-label">
                                        @Html.DisplayNameFor(model => model.EmployeeName)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-6">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.EmployeeName)
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group form-group-xs row">
                                    <label class="col-4 col-form-label ">
                                        @Html.DisplayNameFor(model => model.DesignationName)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-6">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.DesignationName)
                                        </span>
                                    </div>
                                </div>


                                @*<div class="form-group form-group-xs row">
                                    <label class="col-4 col-form-label">
                                        @Html.DisplayNameFor(model => model.Description)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-6">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.Description)
                                        </span>
                                    </div>
                                </div>*@
                                <div class="form-group form-group-xs row">
                                    <label class="col-4 col-form-label">
                                        @Html.DisplayNameFor(model => model.FatherName)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-6">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.FatherName)
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group form-group-xs row">
                                    <label class="col-4 col-form-label">
                                        @Html.DisplayNameFor(model => model.MotherName)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-6">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.MotherName)
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group form-group-xs row">
                                    <label class="col-4 col-form-label">
                                        @Html.DisplayNameFor(model => model.ContactNo)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-6">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.ContactNo)
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group form-group-xs row">
                                    <label class="col-4 col-form-label">
                                        @Html.DisplayNameFor(model => model.Email)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-6">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.Email)
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group form-group-xs row">
                                    <label class="col-4 col-form-label">
                                        @Html.DisplayNameFor(model => model.EmployeeAddress)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-6">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.EmployeeAddress)
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group form-group-xs row">
                                    <label class="col-4 col-form-label">
                                        @Html.DisplayNameFor(model => model.StringDOB)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-6">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.StringDOB)
                                        </span>
                                    </div>
                                </div>

                            </div>


                            <div class="col-lg-5">

                                <div class="form-group form-group-xs row">
                                    <label class="col-4 col-form-label">
                                        @Html.DisplayNameFor(model => model.Sex)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-6">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.Sex)
                                        </span>
                                    </div>
                                </div>



                                <div class="form-group form-group-xs row">
                                    <label class="col-4 col-form-label">
                                        @Html.DisplayNameFor(model => model.NID)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-6">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.NID)
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group form-group-xs row">
                                    <label class="col-4 col-form-label">
                                        @Html.DisplayNameFor(model => model.Remarks)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-6">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.Remarks)
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group form-group-xs row">
                                    <label class="col-4 col-form-label ">
                                        @Html.DisplayNameFor(model => model.CreateDate)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-6">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.CreateDate)
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group form-group-xs row">
                                    <label class="col-4 col-form-label">
                                        @Html.DisplayNameFor(model => model.CreatedByUserName)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-6">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.CreatedByUserName)
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group form-group-xs row">
                                    <label class="col-4 col-form-label">
                                        @Html.DisplayNameFor(model => model.LastUpdated)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-6">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.LastUpdated)
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group form-group-xs row">
                                    <label class="col-4 col-form-label">
                                        @Html.DisplayNameFor(model => model.UpdatedByUserName)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-6">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.UpdatedByUserName)
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group form-group-xs row">
                                    <label class="col-4 col-form-label">
                                        @Html.DisplayNameFor(model => model.IsActive)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-6">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @if (Model.IsActive == true)
                                            {
                                                <span class="kt-badge kt-badge--success kt-badge--inline kt-badge--pill">Active</span>
                                            }
                                            else
                                            {
                                                <span class="kt-badge kt-badge--warning kt-badge--inline kt-badge--pill">Inactive</span>
                                            }
                                        </span>
                                    </div>
                                </div>



                            </div>
                        </div>

                    </div>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions offset-5">
                            @*@if ((Convert.ToString(Session[CommonConstantHelper.RoleName]) == CommonConstantHelper.RoleAdmin) ||
               (Convert.ToString(Session[CommonConstantHelper.RoleName]) == CommonConstantHelper.RoleManagement))
                            {
                                <a href="~/Employee/Edit/@Model.EmpolyeeId" class="btn btn-outline-success btn-lg">Edit User</a>
                                <a href="~/Employee/Index" class="btn btn-outline-dark btn-lg">Back to List</a>
                            }
                            else
                            {
                                <a href="~/Employee/Index" class="btn btn-outline-dark btn-lg">Back to List</a>
                            }*@

                            <a href="~/Employee/Edit/@Model.EmpolyeeId" class="btn btn-outline-success btn-md"><i class="fas fa-pen"></i>Update</a>
                            <a href="~/Employee/Index" class="btn btn-outline-dark btn-md"><i class="fas fa-arrow-left"></i>Back to List</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



