@model HoldingTaxWebApp.Models.Users.Employee
@using HoldingTaxWebApp.Helpers
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Sheets{
    <link href="~/Content/formdesign.css" rel="stylesheet" />
    <style>
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    </style>
}




<div class="subheader py-2 py-lg-6 subheader-transparent" id="kt_subheader">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <div class="d-flex align-items-center flex-wrap mr-1">
            <div class="d-flex align-items-baseline flex-wrap mr-5">
                <h5 class="text-dark font-weight-bold my-1 mr-5">কর্মকর্তা ও কর্মচারীবৃন্দ</h5>
                <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                    <li class="breadcrumb-item text-muted">
                        <a href="" class="text-muted">কর্মকর্তা/কর্মচারীবৃন্দের তথ্য হালনাগাদ করুন</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <a onclick="return goBack();" class="btn btn-light-primary font-weight-bolder btn-sm"><i class="fas fa-arrow-left"></i>আগের পেজে যান</a>
        </div>
    </div>
</div>
<div class="d-flex flex-column-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-custom gutter-b example example-compact">
                    <div class="card-header">
                        <h3 class="card-title"> কর্মকর্তা/কর্মচারীবৃন্দের তথ্য হালনাগাদ করুন</h3>
                        <div class="card-toolbar">
                            <div class="example-tools justify-content-center">
                            </div>
                        </div>
                    </div>
                    @using (Html.BeginForm("Edit", "Employee", null, FormMethod.Post, new { @class = "form-signin", @id = "kt_form_2", role = "form" }))
                    {
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.EmpolyeeId)

                        <div class="card-body">
                            <fieldset>
                                <legend>সাধারণ তথ্য</legend>

                                <div class="form-group row m-2">
                                    @Html.LabelFor(model => model.EmployeeName, htmlAttributes: new { @class = "col-lg-2 col-form-label text-lg-right" })
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.EmployeeName, new { htmlAttributes = new { @class = "form-control", @name = "EmployeeName", placeholder = "Enter official's name", @id = "EmployeeName" } })
                                        @Html.ValidationMessageFor(model => model.EmployeeName, "", new { @class = "text-danger" })
                                    </div>


                                    @Html.LabelFor(model => model.DesignationId, htmlAttributes: new { @class = "col-lg-2 col-form-label text-lg-right" })
                                    <div class="col-lg-4">
                                        @Html.DropDownListFor(model => model.DesignationId, null, "-- Select Designation --", new
                                       {
                                           @class = "form-control",
                                           @name = "DesignationId",
                                           @id = "DesignationId"
                                       })
                                        @Html.ValidationMessageFor(model => model.DesignationId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group row m-2">
                                    @Html.LabelFor(model => model.FatherName, htmlAttributes: new { @class = "col-lg-2 col-form-label text-lg-right" })
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.FatherName, new { htmlAttributes = new { @class = "form-control", @name = "FatherName", placeholder = "Enter father's Name", @id = "FatherName" } })
                                        @Html.ValidationMessageFor(model => model.FatherName, "", new { @class = "text-danger" })
                                    </div>


                                    @Html.LabelFor(model => model.MotherName, htmlAttributes: new { @class = "col-lg-2 col-form-label text-lg-right" })
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.MotherName, new { htmlAttributes = new { @class = "form-control", @name = "MotherName", placeholder = "Enter mother's Name", @id = "MotherName" } })
                                        @Html.ValidationMessageFor(model => model.MotherName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group row m-2">
                                    @Html.LabelFor(model => model.StringDOB, htmlAttributes: new { @class = "col-lg-2 col-form-label text-lg-right" })
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.StringDOB, new { htmlAttributes = new { @class = "form-control", @name = "StringDOB", placeholder = "Enter date of birth", @id = "StringDOB" } })
                                        @Html.ValidationMessageFor(model => model.StringDOB, "", new { @class = "text-danger" })
                                    </div>


                                    @Html.LabelFor(model => model.Sex, htmlAttributes: new { @class = "col-lg-2 col-form-label text-lg-right" })
                                    <div class="col-lg-4">
                                        @if (Model.Sex == "পুরুষ")
                                        {
                                            <select class="form-control" id="Sex" name="Sex">
                                                <option value="পুরুষ" selected>পুরুষ</option>
                                                <option value="মহিলা">মহিলা</option>
                                                <option value="অন্যান্য">অন্যান্য</option>
                                            </select>
                                        }
                                        else if (Model.Sex == "মহিলা")
                                        {
                                            <select class="form-control" id="Sex" name="Sex">
                                                <option value="পুরুষ">পুরুষ</option>
                                                <option value="মহিলা" selected>মহিলা</option>
                                                <option value="অন্যান্য">অন্যান্য</option>
                                            </select>
                                        }
                                        else
                                        { <select class="form-control" id="Sex" name="Sex">
                                                <option value="পুরুষ">পুরুষ</option>
                                                <option value="মহিলা">মহিলা</option>
                                                <option value="অন্যান্য" selected>অন্যান্য</option>
                                            </select>}

                                        @Html.ValidationMessageFor(model => model.Sex, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="separator separator-dashed my-10"></div>
                                <legend>যোগাযোগের তথ্য</legend>

                                <div class="form-group row m-2">
                                    @Html.LabelFor(model => model.ContactNo, htmlAttributes: new { @class = "col-lg-2 col-form-label text-lg-right" })
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.ContactNo, new { htmlAttributes = new { @class = "form-control", @name = "ContactNo", placeholder = "Enter contact number", @id = "ContactNo" } })
                                        @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })
                                    </div>

                                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-lg-2 col-form-label text-lg-right" })
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @name = "Email", placeholder = "Enter e-mail", @id = "Email" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group row m-2">
                                    @Html.LabelFor(model => model.EmployeeAddress, htmlAttributes: new { @class = "col-lg-2 col-form-label text-lg-right" })
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.EmployeeAddress, new { htmlAttributes = new { @class = "form-control", @name = "EmployeeAddress", placeholder = "Enter address", @id = "EmployeeAddress" } })
                                        @Html.ValidationMessageFor(model => model.EmployeeAddress, "", new { @class = "text-danger" })
                                    </div>

                                    @Html.LabelFor(model => model.NID, htmlAttributes: new { @class = "col-lg-2 col-form-label text-lg-right" })
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.NID, new { htmlAttributes = new { @class = "form-control", @name = "NID", placeholder = "Enter national id", @id = "NID" } })
                                        @Html.ValidationMessageFor(model => model.NID, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group row m-2">
                                    @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "col-lg-2 col-form-label text-lg-right" })
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control", @name = "Remarks", placeholder = "Enter remarks", @id = "Remarks" } })
                                        @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="card-footer">
                            <div class="text-center">
                                <button type="submit" class="btn btn-outline-success btn-md"><i class="fas fa-check"></i>হালনাগাদ করুন</button>
                                <button type="button" onclick="window.location.href = '/Employee/Index'" class="btn btn-outline-dark btn-md"><i class="fas fa-arrow-left"></i>মূল তালিকায় ফিরে যান </button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {

    <script>
        jQuery(document).ready(function () {

            $('#DesignationId').select2({
                placeholder: "-- Select Designation --",
                allowClear: true
            });

            $('#Sex').select2({
                placeholder: "-- Select Sex --",
                allowClear: true
            });

            $('#StringDOB').datepicker({
                rtl: KTUtil.isRTL(),
                todayBtn: "linked",
                clearBtn: true,
                todayHighlight: true,
                format: "dd/mm/yyyy",
                autoclose: true
            });

            $("#kt_form_2").validate({
                rules: {
                    EmployeeName: {
                        required: true
                    },
                    DesignationId: {
                        required: true
                    },
                    StringDOB: {
                        required: true
                    },
                    NID: {
                        required: true
                    },
                    Email: {
                        email: true
                    }
                },
                messages: {
                    EmployeeName: "ঘরটি অবশ্যই পূরণ করতে হবে",
                    DesignationId: "ঘরটি অবশ্যই পূরণ করতে হবে",
                    StringDOB: "ঘরটি অবশ্যই পূরণ করতে হবে",
                    NID: "ঘরটি অবশ্যই পূরণ করতে হবে",
                    Email: {
                        email: "ইংরেজিতে ই-মেইল এড্রেস দিন"
                    }
                },

                invalidHandler: function (event, validator) {
                    KTUtil.scrollTop();
                }
            });

        });
    </script>
}
