@model HoldingTaxWebApp.Models.Holding.Notice
@using HoldingTaxWebApp.Helpers
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Sheets{
    <link href="~/Content/FormDesign.css" rel="stylesheet" />
}
<div class="subheader py-2 py-lg-6 subheader-transparent" id="kt_subheader">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <div class="d-flex align-items-center flex-wrap mr-1">
            <div class="d-flex align-items-baseline flex-wrap mr-5">
                <h5 class="text-dark font-weight-bold my-1 mr-5">গৃহকর সংক্রান্ত বিজ্ঞপ্তি </h5>
                <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                    <li class="breadcrumb-item text-muted">
                        <a href="#" class="text-muted">গৃহকর সংক্রান্ত নতুন বিজ্ঞপ্তি পাঠান</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <a onclick="return goBack();" class="btn btn-light-primary font-weight-bolder btn-sm"><i class="fas fa-arrow-left"></i>আগের পেজে যান</a>
        </div>
    </div>
</div>


<div class="d-flex flex-column-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-custom gutter-b example example-compact">
                    <div class="card-header">
                        <h3 class="card-title">গৃহকর সংক্রান্ত নতুন বিজ্ঞপ্তি পাঠান</h3>
                        <div class="card-toolbar">
                            <div class="example-tools justify-content-center">
                            </div>
                        </div>
                    </div>
                    @using (Html.BeginForm("Create", "Notice", null, FormMethod.Post, new { @class = "form-signin", @id = "kt_form_2", role = "form" }))
                    {
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.AntiForgeryToken()

                        <div class="card-body">
                            <fieldset>

                                <legend>সাধারণ তথ্য</legend>

                                <div class="form-group row m-2">

                                    @Html.LabelFor(model => model.NoticeTypeId, htmlAttributes: new { @class = "col-lg-2 col-form-label text-lg-right" })
                                    <div class="col-lg-6">
                                        @Html.DropDownListFor(model => model.NoticeTypeId, null, "-- Select --", new
                                   {
                                       @class = "form-control",
                                       @name = "NoticeTypeId",
                                       @id = "NoticeTypeId"
                                   })
                                        @Html.ValidationMessageFor(model => model.NoticeTypeId, "", new { @class = "text-danger" })
                                    </div>
                                    <label class="col-lg-4 col-form-label text-lg-left">@ViewBag.DateTimeStr</label>
                                </div>

                                <div class="form-group row m-2">
                                    @Html.LabelFor(model => model.FinancialYearId, htmlAttributes: new { @class = "col-lg-2 col-form-label text-lg-right" })
                                    <div class="col-lg-4">
                                        @Html.DropDownListFor(model => model.FinancialYearId, null, "-- Select --", new
                                   {
                                       @class = "form-control",
                                       @name = "FinancialYearId",
                                       @id = "FinancialYearId"
                                   })
                                        @Html.ValidationMessageFor(model => model.FinancialYearId, "", new { @class = "text-danger" })
                                    </div>

                                    @Html.LabelFor(model => model.AreaId, htmlAttributes: new { @class = "col-lg-2 col-form-label text-lg-right" })
                                    <div class="col-lg-4">
                                        @Html.DropDownListFor(model => model.AreaId, null, "-- Select --", new
                                   {
                                       @class = "form-control",
                                       @name = "AreaId",
                                       @id = "AreaId"
                                   })
                                    </div>
                                </div>


                            </fieldset>
                        </div>
                        <div class="card-footer">
                            <div class="text-center">
                                <button type="submit" class="btn btn-outline-success btn-md"><i class="fas fa-check"></i>বিজ্ঞপ্তি পাঠান</button>
                                <button type="button" onclick="window.location.href = '/Notice/Index'" class="btn btn-outline-dark btn-md"><i class="fas fa-arrow-left"></i>মূল তালিকায় ফিরে যান </button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>





@section Scripts {

    <script>

        $('#FinancialYearId').select2({
            placeholder: "-- Select --",
            allowClear: true
        });

        $('#NoticeTypeId').select2({
            placeholder: "-- Select --",
            allowClear: true
        });

        $('#AreaId').select2({
            placeholder: "-- Select --",
            allowClear: true
        });

        jQuery(document).ready(function () {
            $("#kt_form_2").validate({
                rules: {
                    FinancialYearId: {
                        required: true
                    },
                    NoticeTypeId: {
                        required: true
                    }
                },
                messages: {
                    FinancialYearId: "ঘরটি অবশ্যই পূরণ করতে হবে",
                    NoticeTypeId: "ঘরটি অবশ্যই পূরণ করতে হবে"
                },
                invalidHandler: function (event, validator) {
                    KTUtil.scrollTop();
                }
            });
        });
    </script>
}


