@model HoldingTaxWebApp.Models.Holding.Notice
@using HoldingTaxWebApp.Helpers
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Sheets{
    <link href="~/Content/FormDesign.css" rel="stylesheet" />
}
<div class="subheader py-2 py-lg-6 subheader-transparent" id="kt_subheader">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <div class="d-flex align-items-center flex-wrap mr-1">
            <div class="d-flex align-items-baseline flex-wrap mr-5">
                <h5 class="text-dark font-weight-bold my-1 mr-5">গৃহকর সংক্রান্ত বিজ্ঞপ্তি </h5>
                <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                    <li class="breadcrumb-item text-muted">
                        <a href="#" class="text-muted">গৃহকর সংক্রান্ত নতুন বিজ্ঞপ্তি প্রস্তুত করা এবং গৃহকরদাতাদের পাঠানো  </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <a onclick="return goBack();" class="btn btn-light-primary font-weight-bolder btn-sm"><i class="fas fa-arrow-left"></i>আগের পেজে যান</a>
        </div>
    </div>
</div>


<div class="d-flex flex-column-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-custom gutter-b example example-compact">
                    <div class="card-header">
                        <h3 class="card-title">গৃহকর সংক্রান্ত নতুন বিজ্ঞপ্তি প্রস্তুত করুন  </h3>
                        <div class="card-toolbar">
                            <div class="example-tools justify-content-center">
                                <div class="text-primary" style="font-size: 18px;">
                                    @ViewBag.DateTimeStr
                                </div>
                            </div>
                        </div>
                    </div>
                    @using (Html.BeginForm("Create", "Notice", null, FormMethod.Post, new { @class = "form-signin", @id = "kt_form_2", role = "form" }))
                    {
                        <br />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.AntiForgeryToken()

                        <div class="card-body">
                            <fieldset>
                                <div class="form-group row m-2">
                                    @Html.LabelFor(model => model.NoticeTypeId, htmlAttributes: new { @class = "col-lg-3 col-form-label text-lg-right" })
                                    <div class="col-lg-9 text-lg-left">
                                        @Html.DropDownListFor(model => model.NoticeTypeId, null, "-- নির্বাচন করুন  --", new
                                   {
                                       @class = "form-control",
                                       @name = "NoticeTypeId",
                                       @id = "NoticeTypeId"
                                   })
                                    </div>
                                </div>

                                <div class="form-group row m-2">
                                    @Html.LabelFor(model => model.FinancialYearId, htmlAttributes: new { @class = "col-lg-3 col-form-label text-lg-right" })
                                    <div class="col-lg-9">
                                        @Html.DropDownListFor(model => model.FinancialYearId, null, "-- নির্বাচন করুন  --", new
                                   {
                                       @class = "form-control",
                                       @name = "FinancialYearId",
                                       @id = "FinancialYearId"
                                   })
                                    </div>
                                </div>
                                <div class="form-group row m-2">
                                    @Html.LabelFor(model => model.EmpolyeeId, htmlAttributes: new { @class = "col-lg-3 col-form-label text-lg-right" })
                                    <div class="col-lg-9">
                                        @Html.DropDownListFor(model => model.EmpolyeeId, null, "-- নির্বাচন করুন  --", new
                                   {
                                       @class = "form-control",
                                       @name = "EmpolyeeId",
                                       @id = "EmpolyeeId"
                                   })
                                        @Html.ValidationMessageFor(model => model.EmpolyeeId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="card-footer">
                            <div class="text-center">
                                <button type="submit" class="btn btn-outline-success btn-md"><i class="fas fa-check"></i>বিজ্ঞপ্তি প্রস্তুত করুন</button>
                                <button type="button" onclick="window.location.href = '/Notice/Index'" class="btn btn-outline-dark btn-md"><i class="fas fa-arrow-left"></i>মূল তালিকায় ফিরে যান </button>
                                <button class="btn btn-outline-dark btn-md" id="reset_button">পেজ রিলোড করুন </button>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-custom gutter-b example example-compact">
                    <div class="card-header">
                        <h3 class="card-title">গৃহকর সংক্রান্ত নতুন বিজ্ঞপ্তি পাঠান </h3>
                        <div class="card-toolbar">
                            <div class="example-tools justify-content-center">
                                <div class="text-primary" style="font-size: 18px;">
                                    @ViewBag.DateTimeStr
                                </div>
                                @*<div class="text-primary" style="font-size: 18px;">
                                        বিজ্ঞপ্তি পাঠানোর সময় এলাকা নির্বাচন করলে ঐ নির্দিষ্ট এলাকার গৃহকরদাতাদের কাছে বিজ্ঞপ্তি যাবে,
                                        এলাকা নির্বাচন না করলে সব এলাকার গৃহকরদাতাদের কাছে বিজ্ঞপ্তি যাবে।
                                    </div>*@
                            </div>
                        </div>
                    </div>
                    @using (Html.BeginForm("NoticeSendUpdate", "Notice", null, FormMethod.Post, new { @class = "form-signin", @id = "kt_form_3", role = "form" }))
                    {
                        <br />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.AntiForgeryToken()

                        <div class="card-body">
                            <fieldset>
                                <div class="form-group row m-2">
                                    @Html.LabelFor(model => model.NoticeTypeId_Two, htmlAttributes: new { @class = "col-lg-3 col-form-label text-lg-right" })
                                    <div class="col-lg-9 text-lg-left">
                                        @Html.DropDownListFor(model => model.NoticeTypeId_Two, null, "-- নির্বাচন করুন  --", new
                                   {
                                       @class = "form-control",
                                       @name = "NoticeTypeId_Two",
                                       @id = "NoticeTypeId_Two"
                                   })
                                    </div>
                                </div>

                                <div class="form-group row m-2">
                                    @Html.LabelFor(model => model.FinancialYearId_Two, htmlAttributes: new { @class = "col-lg-3 col-form-label text-lg-right" })
                                    <div class="col-lg-9">
                                        @Html.DropDownListFor(model => model.FinancialYearId_Two, null, "-- নির্বাচন করুন  --", new
                                   {
                                       @class = "form-control",
                                       @name = "FinancialYearId_Two",
                                       @id = "FinancialYearId_Two"
                                   })
                                    </div>
                                </div>
                                <div class="form-group row m-2">
                                    @Html.LabelFor(model => model.AreaId, htmlAttributes: new { @class = "col-lg-3 col-form-label text-lg-right" })
                                    <div class="col-lg-9">
                                        @Html.DropDownListFor(model => model.AreaId, null, "-- নির্বাচন করুন  --", new
                                   {
                                       @class = "form-control",
                                       @name = "AreaId",
                                       @id = "AreaId"
                                   })
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="card-footer">
                            <div class="text-center">
                                <button type="submit" class="btn btn-outline-success btn-md"><i class="fas fa-envelope-open-text"></i>বিজ্ঞপ্তি পাঠান</button>
                                <button type="button" onclick="window.location.href = '/Notice/Index'" class="btn btn-outline-dark btn-md"><i class="fas fa-arrow-left"></i>মূল তালিকায় ফিরে যান </button>
                                <button class="btn btn-outline-dark btn-md" id="reset_button_2">পেজ রিলোড করুন </button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>





@section Scripts {

    <script>

        $('#FinancialYearId').select2({
            placeholder: "-- নির্বাচন করুন  --",
            allowClear: true
        });

        $('#NoticeTypeId').select2({
            placeholder: "-- নির্বাচন করুন  --",
            allowClear: true
        });

        $('#FinancialYearId_Two').select2({
            placeholder: "-- নির্বাচন করুন  --",
            allowClear: true
        });

        $('#NoticeTypeId_Two').select2({
            placeholder: "-- নির্বাচন করুন  --",
            allowClear: true
        });

        $('#AreaId').select2({
            placeholder: "-- নির্বাচন করুন  --",
            allowClear: true
        });

        $('#EmpolyeeId').select2({
            placeholder: "-- নির্বাচন করুন  --",
            allowClear: true
        });

        jQuery(document).ready(function () {

            $('#send_notification').click(function (e) {
                e.preventDefault();
                alert("finalle");
            });


            $("#kt_form_2").validate({
                rules: {
                    FinancialYearId: {
                        required: true
                    },
                    NoticeTypeId: {
                        required: true
                    },
                    EmpolyeeId: {
                        required: true
                    }
                },
                messages: {
                    NoticeTypeId: "বিজ্ঞপ্তির ধরণ নির্বাচন করুন",
                    FinancialYearId: "আর্থিক বছর নির্বাচন করুন",
                    EmpolyeeId: "কর্মকর্তার নাম নির্বাচন করুন"
                },
                invalidHandler: function (event, validator) {
                    KTUtil.scrollTop();
                }
            });

            $("#kt_form_3").validate({
                rules: {
                    FinancialYearId_Two: {
                        required: true
                    },
                    NoticeTypeId_Two: {
                        required: true
                    }
                },
                messages: {
                    NoticeTypeId_Two: "বিজ্ঞপ্তির ধরণ নির্বাচন করুন",
                    FinancialYearId_Two: "আর্থিক বছর নির্বাচন করুন"
                },
                invalidHandler: function (event, validator) {
                    KTUtil.scrollTop();
                }
            });
            $("#reset_button").click(function (e) {
                e.preventDefault();
                window.location.href = '/Notice/Create';
            });

            $("#reset_button_2").click(function (e) {
                e.preventDefault();
                window.location.href = '/Notice/Create';
            });
        });
    </script>
}


