@model HoldingTaxWebApp.Models.DBO.clsFinancialYear
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Sheets{
    <link href="~/Content/formdesign.css" rel="stylesheet" />
}

<div class="subheader py-2 py-lg-6 subheader-transparent" id="kt_subheader">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <div class="d-flex align-items-center flex-wrap mr-1">
            <div class="d-flex align-items-baseline flex-wrap mr-5">
                <h5 class="text-dark font-weight-bold my-1 mr-5">গৃহকর সংক্রান্ত সকল রিপোর্ট</h5>
                <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                    <li class="breadcrumb-item text-muted">
                        <a href="#" class="text-muted"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <a onclick="return goBack();" class="btn btn-light-primary font-weight-bolder btn-sm"><i class="fas fa-arrow-left"></i>আগের পেজে যান</a>
        </div>
    </div>
</div>
<div class="d-flex flex-column-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card card-custom" id="kt_card_1">
                    <div class="card-header">
                        <h3 class="card-title">রিপোর্ট</h3>
                        <div class="card-toolbar">

                        </div>
                    </div>
                    <div class="card-body row">
                        <div class="col-md-5">
                            <div class="form-group row">
                                @Html.LabelFor(model => model.FinancialYearId, "আর্থিক বছর", htmlAttributes: new { @class = "col-lg-4 col-form-label text-lg-right" })
                                <div class="col-lg-8">
                                    @Html.DropDownListFor(model => model.FinancialYearId, null, "-- নির্বাচন করুন --", new
                               {
                                   @class = "form-control",
                                   @name = "FinancialYearId",
                                   @id = "FinancialYearId"
                               })
                                    @Html.ValidationMessageFor(model => model.FinancialYearId, "", new { @class = "text-danger" })
                                </div>

                            </div>

                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label text-lg-right" for="ReportType">রিপোর্টের ধরণ</label>
                                <div class="col-lg-8">
                                    <select id="ReportType" class="form-control">
                                        <option value="0">-- নির্বাচন করুন --</option>
                                        <option value="1">সম্ভাব্য আদায়যোগ্য গৃহকর</option>
                                        <option value="2">আদায়কৃত গৃহকর</option>
                                        <option value="3">অনাদায় কৃত গৃহকর</option>
                                        <option value="4">গৃহকর প্রদানকারী করদাতাদের তালিকা</option>
                                        <option value="5">গৃহকর প্রদান না করা করদাতাদের তালিকা</option>
                                    </select>
                                </div>

                            </div>

                        </div>

                        <div class="col-md-6">

                            <div class="form-group row">
                                @Html.LabelFor(model => model.AreaId, "এলাকার নাম", htmlAttributes: new { @class = "col-lg-4 col-form-label text-lg-right" })
                                <div class="col-lg-8">
                                    @Html.DropDownListFor(model => model.AreaId, null, "-- নির্বাচন করুন --", new
                               {
                                   @class = "form-control",
                                   @name = "AreaId",
                                   @id = "AreaId"
                               })
                                </div>
                            </div>

                           
                        </div>


                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-lg-5"></div>
                            <div class="col-lg-7">
                                <button type="button" class="btn btn-outline-success btn-md" id="report_button"><i class="fas fa-check"></i>রিপোর্ট</button>
                                <button class="btn btn-outline-dark btn-md" id="reset_button">রিসেট</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body row">
                        <div class="col-md-12">
                            <div class="search-result">
                            </div>
                        </div>



                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


@section Scripts {

    <script>
        $('#FinancialYearId').select2({
            placeholder: "--নির্বাচন করুন--",
            allowClear: true
        });
        $('#AreaId').select2({
            placeholder: "--নির্বাচন করুন--",
            allowClear: true
        });
        $('#PlotId').select2({
            placeholder: "--নির্বাচন করুন--",
            allowClear: true
        });

         $('#ReportType').select2({
            placeholder: "--নির্বাচন করুন--",
            allowClear: true
        });

        var rptId= @ViewBag.ReportId;

        jQuery(document).ready(function () {
            debugger;


             @*$("#AreaId").change(function () {
                 var areaId = $("#AreaId").val();

                 var json = {
                     AreaId: areaId
                 };
                 $.ajax({
                     url: '@Url.Action("GetAllPlotByAreaId", "Holding")',
                     type: "POST",
                     contentType: "application/json; charset=utf-8",
                     data: JSON.stringify(json),
                     success: function (data) {
                         if (data.length === 0) {
                             Swal.fire(
                                 'পাওয়া যায়নি!', 'নির্বাচিত এলাকার জন্য কোনো প্লট পাওয়া যায়নি', 'info'
                             )
                         }
                         else {
                             $("#PlotId").empty();
                             $("#PlotId").append("<option value=''>--নির্বাচন করুন--</option>");
                             $.each(data, function (index, row) {
                                 $("#PlotId").append("<option value='" + row.PlotId + "'>" + row.PlotNo + "</option>");
                             });
                         }
                     },
                     error: function () {
                         Swal.fire(
                             'পাওয়া যায়নি!', 'নির্বাচিত এলাকার জন্য কোনো প্লট পাওয়া যায়নি', 'error'
                         )
                     }
                 });
             });*@



            $("#ReportType").val(rptId);
            $('#ReportType').trigger('change');

            $("#report_button").click(function () {
                var FinancialYearId = parseInt($("#FinancialYearId").val()) || 0;
                var AreaId = parseInt($("#AreaId").val()) || 0;

                var reportType = parseInt($("#ReportType").val()) || 0;

                if (reportType === 1) {
                    $(".search-result").load("/TaxReports/rptRecoverabletax", { FinancialYearId: FinancialYearId, AreaId: AreaId });
                }
                else if (reportType === 2) {
                    $(".search-result").load("/TaxReports/rptPaidTax", { FinancialYearId: FinancialYearId, AreaId: AreaId });
                }
                else if (reportType === 3) {
                    $(".search-result").load("/TaxReports/rptUnPaidTax", { FinancialYearId: FinancialYearId, AreaId: AreaId });
                }
                else if (reportType === 4) {
                    $(".search-result").load("/TaxReports/rptTaxPlayers", { FinancialYearId: FinancialYearId, AreaId: AreaId });
                }

                else if (reportType === 5) {
                    $(".search-result").load("/TaxReports/rptNonTaxPlayers", { FinancialYearId: FinancialYearId, AreaId: AreaId });
                }

                else {
                    Swal.fire('Error!', 'রিপোটের ধরণ নির্বাচন করুন |', 'error')
                }

            });

            $("#reset_button").click(function () {
                location.reload();
            });

        });


    </script>

}