@model HoldingTaxWebApp.ViewModels.DBO.IssueCombineVM
    @using HoldingTaxWebApp.Helpers
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Sheets{
    <link href="~/Content/FormDesign.css" rel="stylesheet" />
<style>
    #chat li {
        padding: 10px 30px;
    }

    #chat .message {
        padding: 10px;
        color: #fff;
        line-height: 25px;
        max-width: 90%;
        display: inline-block;
        text-align: left;
        border-radius: 5px;
    }

    #chat .doc {
        padding: 5px;
        color: #fff;
        /*line-height: 25px;*/
        max-width: 90%;
        display: inline-block;
        text-align: left;
        border-radius: 2px;
    }

    #chat .me {
        text-align: right;
    }

    #chat .you .btn {
        color: black;
        border: 3px solid #EB9F28;
    }

    #chat .me .btn {
        color: black;
        border: 3px solid #2272b0;
    }

        #chat .me .btn:hover {
            background-color: #315D7D;
            color: white;
            border: 3px solid #2272b0
        }

    #chat .you .btn:hover {
        background-color: #9A681A;
        color: white;
        border: 3px solid #EB9F28;
    }

    #chat .you .message {
        background-color: #EB9F28;
    }

    #chat .me .message {
        background-color: #2272b0;
    }

    #chat .triangle {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px 10px;
    }

    #chat .you .triangle {
        border-color: transparent transparent #EB9F28 transparent;
        margin-left: 15px;
    }

    #chat .me .triangle {
        border-color: transparent transparent #2272b0 transparent;
        margin-left: 1130px;
    }


    #chat h2 {
        display: inline-block;
        font-size: 13px;
        font-weight: bold;
    }

    #chat h3 {
        display: inline-block;
        font-size: 12px;
        font-weight: normal;
    }

    #chat h3 {
        color: #bbb;
    }
</style>
}

<div class="subheader py-2 py-lg-6 subheader-transparent" id="kt_subheader">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <div class="d-flex align-items-center flex-wrap mr-1">
            <div class="d-flex align-items-baseline flex-wrap mr-5">
                <h5 class="text-dark font-weight-bold my-1 mr-5">হোল্ডারদের বার্তা</h5>
                <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                    <li class="breadcrumb-item text-muted">
                        <a href="#" class="text-muted">বিশদ তথ্য </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <a onclick="return goBack();" class="btn btn-light-primary font-weight-bolder btn-sm"><i class="fas fa-arrow-left"></i>আগের পেজে যান</a>
        </div>
    </div>
</div>


<div class="d-flex flex-column-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-custom gutter-b example example-compact">
                    @*<div class="card-header">
                        <div class="row offset-1">
                            <h3 class="card-title">
                                <b class="kt-font-brand">@Model.HolderName</b>  &nbsp; এর বার্তা 
                            </h3>

                            <div class="card-toolbar">
                                <div class="example-tools justify-content-center">
                                </div>
                            </div>
                        </div>
                    </div>*@
                    <div class="card-body">
                        <div class="row offset-1">
                            <legend> হোল্ডারদের বার্তা তথ্য</legend>
                            <div class="col-lg-5">

                                <div class="form-group form-group-xs row">
                                    <label class="col-5 col-form-label">
                                        @Html.DisplayNameFor(model => model.HolderName)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.HolderName)
                                        </span>
                                    </div>
                                </div>


                                <div class="form-group form-group-xs row">
                                    <label class="col-5 col-form-label">
                                        @Html.DisplayNameFor(model => model.StatusName)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.StatusName)
                                        </span>
                                    </div>
                                </div>




                              

                                <div class="form-group form-group-xs row">
                                    <label class="col-5 col-form-label">
                                        @Html.DisplayNameFor(model => model.Subject)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.Subject)
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group form-group-xs row">
                                    <label class="col-5 col-form-label">
                                        @Html.DisplayNameFor(model => model.StringSolvedDate)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.StringSolvedDate)
                                        </span>
                                    </div>
                                </div>


                                <div class="form-group form-group-xs row">
                                    <label class="col-5 col-form-label">
                                        @Html.DisplayNameFor(model => model.Remarks)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.Remarks)
                                        </span>
                                    </div>
                                </div>

                              
                              
                            </div>

                            <div class="col-lg-5">

                                <div class="form-group form-group-xs row">
                                    <label class="col-5 col-form-label">
                                        @Html.DisplayNameFor(model => model.CreatedByUserName)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.CreatedByUserName)
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group form-group-xs row">
                                    <label class="col-5 col-form-label">
                                        @Html.DisplayNameFor(model => model.CreateDate)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.CreateDate)
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group form-group-xs row">
                                    <label class="col-5 col-form-label">
                                        @Html.DisplayNameFor(model => model.UpdatedByUserName)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.UpdatedByUserName)
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group form-group-xs row">
                                    <label class="col-5 col-form-label">
                                        @Html.DisplayNameFor(model => model.LastUpdated)
                                    </label>
                                    <span class="col-1 col-form-label kt-font-bolder"> : </span>
                                    <div class="col-5">
                                        <span class="form-control-plaintext kt-font-bolder">
                                            @Html.DisplayFor(model => model.LastUpdated)
                                        </span>
                                    </div>
                                </div>

                            </div>





                        </div>
                      
                        <div class="separator separator-dashed my-10"></div>
                        <div class="row offset-1">
                            <legend>হোল্ডার এর সমস্যা সমূহের বিবরণ</legend>
                            <br />
                            <br />
                            <table class="table table-bordered table-success" width="100" id="flat_details">
                                <thead>
                                    <tr>
                                        <th>সিরিয়াল নাম্বার</th>
                                        <th>হোল্ডার এর বার্তা</th>
                                        <th>বার্তার তারিখ</th>
                                        <th>নথি ১</th>
                                        <th>নথি ২</th>
                                        @*<th>বর্তমান অবস্থা</th>*@
                                       


                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int i = 1;
                                        foreach (var item in Model.IssueDetails)
                                        {
                                    <tr>
                                        <td>@BanglaConvertionHelper.IntegerValueEnglish2Bangla(i)</td>
                                        <td>@item.MsgDetails</td>
                                        <td>@item.StringMsgDate</td>
                                        <td>@item.Doc1</td>
                                        <td>@item.Doc2</td>
                                        @*@if(@item.IsRead == true){
                                        <td>সমাধান হয়েছে</td>
                                        }
                                        else{<td>এখনো সমাধান হয়নি</td>
                                        }*@

                                    </tr>
                                            i = i + 1;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>


                  


      

                        <div class="card-footer">
                            <div class="text-center">
                                <a href="~/Issue/Edit/@Model.IssueId" class="btn btn-outline-success btn-md">
                                    <i class="fas fa-pen"></i>হালনাগাদের পেজে  যান
                                </a>
                                <a href="~/Issue/Index" class="btn btn-outline-dark btn-md"><i class="fas fa-arrow-left"></i>মূল তালিকায় ফিরে যান</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




