@model HoldingTaxWebApp.ViewModels.DBO.IssueCombineVM
@using HoldingTaxWebApp.Helpers;

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Sheets{

    <style>

        #chat li {
            padding: 10px 30px;
        }

        #chat .message {
            padding: 10px;
            color: #fff;
            line-height: 25px;
            max-width: 90%;
            display: inline-block;
            text-align: left;
            border-radius: 5px;
        }

        #chat .doc {
            padding: 5px;
            color: #fff;
            /*line-height: 25px;*/
            max-width: 90%;
            display: inline-block;
            text-align: left;
            border-radius: 2px;
        }

        #chat .me {
            text-align: right;
        }

        #chat .you .btn {
            color: black;
            border: 3px solid #EB9F28;
        }

        #chat .me .btn {
            color: black;
            border: 3px solid #2272b0;
        }

            #chat .me .btn:hover {
                background-color: #315D7D;
                color: white;
                border: 3px solid #2272b0
            }

        #chat .you .btn:hover {
            background-color: #9A681A;
            color: white;
            border: 3px solid #EB9F28;
        }

        #chat .you .message {
            background-color: #EB9F28;
        }

        #chat .me .message {
            background-color: #2272b0;
        }

        #chat .triangle {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 10px 10px 10px;
        }

        #chat .you .triangle {
            border-color: transparent transparent #EB9F28 transparent;
            margin-left: 15px;
        }

        #chat .me .triangle {
            border-color: transparent transparent #2272b0 transparent;
            margin-left: 1130px;
        }


        #chat h2 {
            display: inline-block;
            font-size: 13px;
            font-weight: bold;
        }

        #chat h3 {
            display: inline-block;
            font-size: 12px;
            font-weight: normal;
        }

        #chat h3 {
            color: #bbb;
        }
    </style>
}


<div class="subheader py-2 py-lg-6 subheader-transparent" id="kt_subheader">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <div class="d-flex align-items-center flex-wrap mr-1">
            <div class="d-flex align-items-baseline flex-wrap mr-5">
                <h5 class="text-dark font-weight-bold my-1 mr-5">ইস্যু </h5>
                <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                    <li class="breadcrumb-item text-muted">
                        <a href="#" class="text-muted">ইস্যুর বিস্তারিত তথ্য ও হালনাগাদ </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <a onclick="return goBack();" class="btn btn-light-primary font-weight-bolder btn-sm"><i class="fas fa-arrow-left"></i>আগের পেজে যান</a>
        </div>
    </div>
</div>

<div class="d-flex flex-column-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-custom gutter-b example example-compact">


                    <form id="kt_inbox_compose_form">
                        <input type="hidden" id="IssueId" value="@Model.IssueId" />
                        <input type="hidden" id="HolderId" value="@Model.HolderId" />

                        <!--begin::Header-->
                        <div class="d-flex align-items-center justify-content-between py-5 pl-8 pr-5 border-bottom">
                            <h5 class="font-weight-bold m-0">মেসেজ/বার্তা</h5>
                            @if (Convert.ToInt32(Session[CommonConstantHelper.UserTypeId]) == 1)
                            {
                                <div class="font-weight-bold m-0">

                                    @Html.DropDownListFor(model => model.StatusTypeId, null, "-- Select Designation --", new
                               {
                                   @class = "form-control",
                                   @name = "StatusTypeId",
                                   @id = "StatusTypeId"
                               })
                                    @Html.ValidationMessageFor(model => model.StatusTypeId, "", new { @class = "text-danger" })

                                </div>
                            }
                            else
                            {
                                <input type="hidden" id="StatusTypeId" value="@Model.StatusTypeId" />
                                <h5 class="font-weight-bold m-0"> @Model.StatusName</h5>
                            }

                        </div>
                        <!--end::Header-->
                        <!--begin::Body-->
                        <div class="d-block">

                            <!--begin::Subject-->
                            <div class="border-bottom">
                                <input type="text" class="form-control form-control-solid form-control-lg" id="@Model.Subject" name="@Model.Subject" placeholder="Subject" value="@Model.Subject" readonly>
                            </div>
                            <!--end::Subject-->
                            <!--begin::Message-->
                            @*<div id="kt_inbox_compose_editor" class="border-0" style="height: 250px; padding-top:10px">

                                    <div class="ql-editor px-8 ql-blank" data-gramm="false" contenteditable="true" data-placeholder="Type message..." spellcheck="false"><p><br></p></div>

                                </div>*@
                            <div class="form-control border-0" style="height: 250px; padding-top:10px">
                                <textarea class="border-0" id="MsgDetails" style="padding-top:10px; width:100%" rows="7"></textarea>


                            </div>
                            <!--end::Message-->
                            <!--begin::Attachments-->
                            @*<div class="dropzone dropzone-multi px-8 py-4" id="kt_inbox_compose_attachments">
                                    <div class="dropzone-items">
                                        <div class="dropzone-item" style="display:none">
                                            <div class="dropzone-file">
                                                <div class="dropzone-filename" title="some_image_file_name.jpg">
                                                    <span data-dz-name="">some_image_file_name.jpg</span>
                                                    <strong>
                                                        (
                                                        <span data-dz-size="">340kb</span>)
                                                    </strong>
                                                </div>
                                                <div class="dropzone-error" data-dz-errormessage=""></div>
                                            </div>
                                            <div class="dropzone-progress">
                                                <div class="progress">
                                                    <div class="progress-bar bg-primary" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" data-dz-uploadprogress=""></div>
                                                </div>
                                            </div>
                                            <div class="dropzone-toolbar">
                                                <span class="dropzone-delete" data-dz-remove="">
                                                    <i class="flaticon2-cross"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@

                            <input type="file" name="document_file_1" id="document_file_1" />
                            <input type="file" name="document_file_2" id="document_file_2" />
                            <span class="form-text text-info">
                                সর্বোচ্চ ফাইলের আকার ২ এমবি এবং সর্বোচ্চ ফাইল ১টি আপলোড করতে পারবেন
                            </span>
                            <!--end::Attachments-->
                        </div>
                        <!--end::Body-->
                        <!--begin::Footer-->
                        <div class="d-flex align-items-center justify-content-between py-5 pl-8 pr-5 border-top">
                            <!--begin::Actions-->
                            <div class="d-flex align-items-center mr-3">
                                <!--begin::Send-->
                                <div class="btn-group mr-4">
                                    <span class="btn btn-primary font-weight-bold px-6" id="btnSend">প্রেরণ করুন</span>
                                    @*<span class="btn btn-primary font-weight-bold dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="button"></span>
                                        <div class="dropdown-menu dropdown-menu-sm dropup p-0 m-0 dropdown-menu-right">
                                            <ul class="navi py-3">
                                                <li class="navi-item">
                                                    <a href="#" class="navi-link">
                                                        <span class="navi-icon">
                                                            <i class="flaticon2-writing"></i>
                                                        </span>
                                                        <span class="navi-text">Schedule Send</span>
                                                    </a>
                                                </li>
                                                <li class="navi-item">
                                                    <a href="#" class="navi-link">
                                                        <span class="navi-icon">
                                                            <i class="flaticon2-medical-records"></i>
                                                        </span>
                                                        <span class="navi-text">Save &amp; archive</span>
                                                    </a>
                                                </li>
                                                <li class="navi-item">
                                                    <a href="#" class="navi-link">
                                                        <span class="navi-icon">
                                                            <i class="flaticon2-hourglass-1"></i>
                                                        </span>
                                                        <span class="navi-text">Cancel</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>*@
                                </div>
                                <!--end::Send-->
                                <!--begin::Other-->
                                @*<span class="btn btn-icon btn-sm btn-clean mr-2" id="kt_inbox_compose_attachments_select">
                                        <i class="flaticon2-clip-symbol"></i>
                                    </span>*@

                            </div>
                            <!--end::Actions-->

                        </div>
                        <!--end::Footer-->
                    </form>
                </div>
                <div class="card card-custom gutter-b example example-compact">
                    <div class="col-lg-12 col-sm-24">
                        <ul id="chat">
                            @foreach (var item in Model.IssueDetails)
                            {
                                if (Session[CommonConstantHelper.UserTypeId].ToString() == item.MessageSenderType.ToString())
                                {
                                    <li class="me">
                                        <h3>@item.MsgDate.Value.ToShortDateString()</h3>
                                        <h2>@item.MessageSenderName</h2>

                                        <div class="triangle"></div>
                                        <div class="doc">
                                            @if (!string.IsNullOrWhiteSpace(item.Doc1))
                                            {
                                                <a class="btn btn-sm" href="~/Issue/DownloadFile?filePath=@item.Doc1" title="Download">ডাউনলোড নথি</a>
                                            }
                                            @if (!string.IsNullOrWhiteSpace(item.Doc2))
                                            {
                                                <a class="btn btn-sm" href="~/Issue/DownloadFile?filePath=@item.Doc2" title="Download">ডাউনলোড নথি</a>
                                            }
                                        </div>
                                        <div class="message">
                                            @item.MsgDetails
                                        </div>
                                    </li>
                                }
                                else
                                {
                                    <li class="you">
                                        <h3>@item.MsgDate.Value.ToShortDateString()</h3>
                                        <h2>@item.MessageSenderName</h2>
                                        <div class="triangle"></div>
                                        <div class="message">
                                            @item.MsgDetails
                                        </div>
                                        <div class="doc">
                                            @if (!string.IsNullOrWhiteSpace(item.Doc1))
                                            {
                                                <a class="btn  btn-sm" href="~/Issue/DownloadFile?filePath=@item.Doc1" title="Download">ডাউনলোড নথি</a>
                                            }
                                            @if (!string.IsNullOrWhiteSpace(item.Doc2))
                                            {
                                                <a class="btn btn-sm" href="~/Issue/DownloadFile?filePath=@item.Doc2" title="Download">ডাউনলোড নথি</a>
                                            }

                                        </div>

                                    </li>
                                }
                            }
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        autosize($('#MsgDetails'));
         jQuery(document).ready(function () {


         $("#kt_inbox_compose_form").validate({
                rules: {
                    Subject: {
                        required: true
                    },
                    MsgDetails: {
                        required: true
                    },

                },

                invalidHandler: function (event, validator) {
                    KTUtil.scrollTop();
                }
            });















          $("#document_file_1").change(function () {
                var data = new FormData();
                data.append("fileBase", $("#document_file_1").get(0).files[0]);
                $.ajax({
                    type: 'POST',
                    url: '/Issue/GetDocFile1',
                    data: data, // modify
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (d) {
                        console.log(d);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
            $("#document_file_2").change(function () {
                var data = new FormData();
                data.append("fileBase", $("#document_file_2").get(0).files[0]);
                $.ajax({
                    type: 'POST',
                    url: '/Issue/GetDocFile2',
                    data: data, // modify
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (d) {
                        console.log(d);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });

             $("#StatusTypeId").change(function () {
                 $('#MsgDetails').val('');
                 var Status = $('#StatusTypeId option:selected').text();
                 var MsgDetails = $('#MsgDetails').val().trim();
                 var MsgDetails = MsgDetails + ' ' + 'আপনার ইস্যুটি বর্তমানে' + ' ' + Status + ' ' + 'অবস্থায় রয়েছে |';
                 $('#MsgDetails').val(MsgDetails).trim();
                 //alert(MsgDetails);
             });



			$('#btnSend').click(function () {


				var isAllValid = true;

				//validate pcase  items

				//$('#pcase_details_error').text('');

				var list = [];

				var errorItemCount = 0;



                    var MsgDetails =  $('#MsgDetails').val().trim();

					debugger;
						var detailsItem = {
							MsgDetails: MsgDetails
						}
						list.push(detailsItem);


				if (list.length == 0) {
					$('#bill_details_error').text('At least one Product required.');
			        isAllValid = false;
				}



				// Bill validation



				if (!isAllValid) {
					KTUtil.scrollTop();
				}
				else {
					var data = {

						Subject: $('#Subject').val(),
						IssueId: parseInt($('#IssueId').val()) || 0,
						HolderId: parseInt($('#HolderId').val()) || 0,
						StatusTypeId: parseInt($('#StatusTypeId').val()) || 0,


						IssueDetails: list
					}

					$.ajax({
						type: 'POST',
						url: '@Url.Action("AddOrUpdate", "Issue")',
						data: JSON.stringify(data),
						contentType: 'application/json',
						success: function (d) {
					if (d.status === "success") {
								$('#Subject').val('');

						list = [];

                        swal.fire({
                            "icon": 'success',
                            "title": 'আপনার বার্তা সফলভাবে প্রেরণ করা হয়েছে',
                            "timer": 1500
                        });
						setTimeout(function () { window.location.href = "/Issue/Edit/@Model.IssueId"; }, 2000);
					}
					else if (d.status === "error") {
						alert('Error');
					}
					else {
						alert('error_full');
					}
							$('#btnSend').val('Send');
				},
						error: function (error) {
					console.log(error);
							$('#btnSend').val('Send');
				}
					});


				}
			});





















        });

    </script>
}



