@{
    Layout = null;
}
<!DOCTYPE html>

<html lang="en">
<!--begin::Head-->
<head>
    <base href="../../../../">
    <meta charset="utf-8" />
    <title>গৃহসেবা</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Page Custom Styles(used by this page)-->
    <link href="~/Theme/dist/assets/css/pages/login/login-3.css" rel="stylesheet" type="text/css" />
    <!--end::Page Custom Styles-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="~/Theme/dist/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/Theme/dist/assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/Theme/dist/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles-->
    <!--begin::Layout Themes(used by all pages)-->
    <!--end::Layout Themes-->
    <link rel="shortcut icon" href="~/Images/dcb_logo_ico_.ico" />
    <style>
        .error {
            color: red !important;
            font-weight: 500 !important;
        }
    </style>
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled page-loading">
    <div class="d-flex flex-column flex-root">
        <div class="login login-3 wizard d-flex flex-column flex-lg-row flex-column-fluid">

            <div class="login-content flex-row-fluid d-flex flex-column p-10">
                <div class="d-flex flex-row-fluid flex-center">
                    <img src="~/Images/Cantonment-Dhaka4login.png" />
                </div>
                <div class="d-flex flex-row-fluid flex-center">
                   
                    <div class="login-form">
                       
                        @*<form class="form" id="kt_login" action="">*@
                        @using (Html.BeginForm("LogIn", "Account", null, FormMethod.Post, new { @class = "kt-form", @id = "kt_login", role = "form", novalidate = "novalidate" }))
                        {
                            <div class="pb-5 pb-lg-15">
                                <h4 class="font-weight-bolder text-primary font-size-h2 font-size-h1-lg">লগইন করুন</h4>
                               
                            </div>

                            @Html.AntiForgeryToken()

                            <h5 style="color:red !important"> @Html.ValidationSummary(true, "", new { @class = "text-danger" })</h5>
                            if (TempData["EM"] != null)
                            {
                                <h5 style="color:red !important">  @TempData["EM"]</h5>
                            }
                            if (TempData["SM"] != null)
                            {
                                <h5 style="color:green !important">  @TempData["SM"]</h5>
                            }
                            if (TempData["PM"] != null)
                            {
                                <h5 style="color:red !important">  @TempData["PM"]</h5>
                            }


                            <div class="form-group">
                                <label class="font-size-h6 font-weight-bolder text-dark">ইউজারনেইম</label>
                                <input class="form-control h-auto py-7 px-6 rounded-lg border-0" type="text" name="UserName" autocomplete="off" required />
                            </div>
                            <div class="form-group">
                                <div class="d-flex justify-content-between mt-n5">
                                    <label class="font-size-h6 font-weight-bolder text-dark pt-5">পাসওয়ার্ড</label>
                                    @*<a href="#" class="text-primary font-size-h6 font-weight-bolder text-hover-primary pt-5">Forgot Password ?</a>*@
                                </div>
                                <input class="form-control h-auto py-7 px-6 rounded-lg border-0" type="password" name="Password" autocomplete="off" required />
                            </div>
                            <div class="pb-lg-0 pb-5">
                                <button type="submit" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">Sign In</button>
                            </div>
                        }
                        @*</form>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#0BB783", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#D7F9EF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
    <script src="~/Theme/dist/assets/plugins/global/plugins.bundle.js"></script>
    <script src="~/Theme/dist/assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
    <script src="~/Theme/dist/assets/js/scripts.bundle.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script>
        jQuery(document).ready(function () {
            $("#kt_login").validate({
                rules: {
                    UserName: {
                        required: true
                    },
                    Password: {
                        required: true
                    }
                },
                invalidHandler: function (event, validator) {
                    KTUtil.scrollTop();
                }
            });
        });
    </script>
</body>
<!--end::Body-->
</html>