@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section sheets{
    @*<style>
            * {
                box-sizing: border-box;
            }

            .row {
                width: 75%;
                margin: auto;
                text-align: -webkit-center;
            }


            /* Create four equal columns that floats next to each other */
            .column {
                float: left;
                width: 30%;
                text-align: -webkit-center;
                color: #3E67B1;
                background-color: #D8E1EF;
                margin: 0.5%;
                text-anchor: middle;
                padding: 30px;
                border-width: 3px;
                border-style: solid;
                border-color: #191B21;
                text-emphasis-color: aquamarine;
                border-bottom-style: double;
                /*border:5px solid blue;*/
                /*padding:10px;*/
            }

                .column:hover {
                    background-color: #87a0c7;
                    transform: scale(.95);
                    transition: all .4s ease;
                    -webkit-transition: all .4s ease;
                }

            .Secondary {
                float: left;
                width: 12%;
                text-align: -webkit-center;
                color: #0F558A;
                background-color: #FFFFFF;
                margin: 5%;
                text-anchor: middle;
                /*border:5px solid blue;*/
                /*padding:10px;*/
            }



            .colContent > img {
                width: 40%;
                height: 50%;
                text-align: -webkit-center;
                padding: 1px;
            }

            .kt-widget19__title {
                color: #230F02;
                text-orientation: mixed;
                text-decoration: dashed;
                font-weight: bold;
                font-family: Tahoma, Verdana, sans-serif;
                padding-top: 3px;
            }

            /*.row > .column > .colContent {
                width: 60%;
                height: 60%;
                background-color:seagreen;
                display:block;
            }*/
        </style>*@
    <style>
        .ab {
            color: yellow;
        }
        ul {
            list-style-type: square;
        }
        li {
            margin-bottom: 3px;
        }
    </style>
}
<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container">
        <!--begin::Notice-->
        <!--end::Notice-->
        <!--begin::Card-->
        <div class="row">
            <div class="card card-custom">

                <div class="kt-container  kt-grid__item kt-grid__item--fluid">
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-10">
                            @if (TempData["PM"] != null)
                            {
                                <div class="alert alert-danger">
                                    <h6> <strong> @TempData["PM"]</strong></h6>
                                </div>
                            }
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                    <div>

                    </div>



                </div>





            </div>
        </div>


        <div class="row">
            @*<div class="col-lg-12">
                    <div class="card card-custom gutter-b">
                        <div class="card-header">
                            <div class="card-title">
                                <h3 class="card-label">বিগত মাসের গৃহীত গৃহকর</h3>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="kt_flotcharts_2" style="height: 300px; padding: 0px; position: relative;"><canvas class="flot-base" width="1539" height="375" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1231.5px; height: 300px;"></canvas><canvas class="flot-overlay" width="1539" height="375" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1231.5px; height: 300px;"></canvas><div class="flot-svg" style="position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; pointer-events: none;"><svg style="width: 100%; height: 100%;"><g class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; inset: 0px;"><text x="74.20608836206897" y="294.39453125" class="flot-tick-label tickLabel" style="position: absolute; text-align: center;">2</text><text x="156.10264008620692" y="294.39453125" class="flot-tick-label tickLabel" style="position: absolute; text-align: center;">4</text><text x="237.99919181034483" y="294.39453125" class="flot-tick-label tickLabel" style="position: absolute; text-align: center;">6</text><text x="319.8957435344828" y="294.39453125" class="flot-tick-label tickLabel" style="position: absolute; text-align: center;">8</text><text x="1218.3359375" y="294.39453125" class="flot-tick-label tickLabel" style="position: absolute; text-align: center;">30</text><text x="399.3704202586207" y="294.39453125" class="flot-tick-label tickLabel" style="position: absolute; text-align: center;">10</text><text x="481.26697198275866" y="294.39453125" class="flot-tick-label tickLabel" style="position: absolute; text-align: center;">12</text><text x="563.1635237068966" y="294.39453125" class="flot-tick-label tickLabel" style="position: absolute; text-align: center;">14</text><text x="645.0600754310345" y="294.39453125" class="flot-tick-label tickLabel" style="position: absolute; text-align: center;">16</text><text x="726.9566271551724" y="294.39453125" class="flot-tick-label tickLabel" style="position: absolute; text-align: center;">18</text><text x="808.8531788793103" y="294.39453125" class="flot-tick-label tickLabel" style="position: absolute; text-align: center;">20</text><text x="890.7497306034484" y="294.39453125" class="flot-tick-label tickLabel" style="position: absolute; text-align: center;">22</text><text x="972.6462823275863" y="294.39453125" class="flot-tick-label tickLabel" style="position: absolute; text-align: center;">24</text><text x="1054.5428340517242" y="294.39453125" class="flot-tick-label tickLabel" style="position: absolute; text-align: center;">26</text><text x="1136.439385775862" y="294.39453125" class="flot-tick-label tickLabel" style="position: absolute; text-align: center;">28</text></g><g class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; inset: 0px;"><text x="13.328125" y="269.60546875" class="flot-tick-label tickLabel" style="position: absolute; text-align: right;">0</text><text x="9.171875" y="233.17689732142856" class="flot-tick-label tickLabel" style="position: absolute; text-align: right;">20</text><text x="9.171875" y="196.74832589285714" class="flot-tick-label tickLabel" style="position: absolute; text-align: right;">40</text><text x="9.171875" y="160.31975446428572" class="flot-tick-label tickLabel" style="position: absolute; text-align: right;">60</text><text x="9.171875" y="123.89118303571428" class="flot-tick-label tickLabel" style="position: absolute; text-align: right;">80</text><text x="1" y="14.60546875" class="flot-tick-label tickLabel" style="position: absolute; text-align: right;">140</text><text x="1" y="87.46261160714286" class="flot-tick-label tickLabel" style="position: absolute; text-align: right;">100</text><text x="1" y="51.03404017857143" class="flot-tick-label tickLabel" style="position: absolute; text-align: right;">120</text></g></svg></div></div>
                        </div>
                    </div>
                </div>*@
            <div class="col-lg-4">
                <div class="card card-custom" id="kt_card_1">
                    <div class="card-header">
                        <h3 class="card-title ">গৃহকর সংক্রান্ত সকল রিপোর্ট</h3>
                        <div class="card-toolbar">
                            <div class="example-tools justify-content-center">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="navi navi-border navi-hover navi-active">
                            <li class="navi-item">
                                <a class="navi-link" href="@Url.Action("Index", "TaxReports", new { rptId = "1" })">
                                    <span class="navi-icon"><i class="flaticon2-analytics text-primary"></i></span>
                                    <span class="navi-text">সম্ভাব্য আদায়যোগ্য গৃহকর</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a class="navi-link" href="@Url.Action("Index", "TaxReports", new { rptId = "2" })">
                                    <span class="navi-icon"><i class="flaticon2-analytics text-primary"></i></span>
                                    <span class="navi-text">আদায়কৃত গৃহকর</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a class="navi-link" href="@Url.Action("Index", "TaxReports", new { rptId = "3" })">
                                    <span class="navi-icon"><i class="flaticon2-analytics text-primary"></i></span>
                                    <span class="navi-text">অনাদায় কৃত গৃহকর</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a class="navi-link" href="@Url.Action("Index", "TaxReports", new { rptId = "4" })">
                                    <span class="navi-icon"><i class="flaticon-users-1 text-primary"></i></span>
                                    <span class="navi-text">গৃহকর প্রদানকারী করদাতাদের তালিকা</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a class="navi-link" href="@Url.Action("Index", "TaxReports", new { rptId = "5" })">
                                    <span class="navi-icon"><i class="flaticon-users-1 text-primary"></i></span>
                                    <span class="navi-text">গৃহকর প্রদান না করা করদাতাদের তালিকা</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    @*<div class="card-footer">
                        <div class="text-center">

                        </div>
                        <div>
                            <span id="details_error"></span>
                        </div>
                    </div>*@
                </div>
            </div>
            <div class="col-lg-8">
                <!--begin::Advance Table Widget 2-->
                <div class="card card-custom card-stretch gutter-b">
                    <!--begin::Header-->
                    <div class="card-header border-0 pt-5">
                        <h3 class="card-title align-items-start flex-column">
                            <span class="card-label font-weight-bolder text-dark">মেসেজ বক্স</span>
                            <span class="text-muted mt-3 font-weight-bold font-size-sm"></span>
                        </h3>
                        <div class="card-toolbar">
                            <a href="~/Issue/Index" class="btn btn-hover-text-primary btn-hover-icon-primary btn-md btn-text-dark-50 bg-light-primary rounded font-weight-bolder font-size-md p-2 mr-2">
                                <span class="svg-icon svg-icon-md svg-icon-primary pr-2">
                                    <!--begin::Svg Icon | path:/metronic/theme/html/demo9/dist/assets/media/svg/icons/Communication/Group-chat.svg-->
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"></rect>
                                            <path d="M16,15.6315789 L16,12 C16,10.3431458 14.6568542,9 13,9 L6.16183229,9 L6.16183229,5.52631579 C6.16183229,4.13107011 7.29290239,3 8.68814808,3 L20.4776218,3 C21.8728674,3 23.0039375,4.13107011 23.0039375,5.52631579 L23.0039375,13.1052632 L23.0206157,17.786793 C23.0215995,18.0629336 22.7985408,18.2875874 22.5224001,18.2885711 C22.3891754,18.2890457 22.2612702,18.2363324 22.1670655,18.1421277 L19.6565168,15.6315789 L16,15.6315789 Z" fill="#000000"></path>
                                            <path d="M1.98505595,18 L1.98505595,13 C1.98505595,11.8954305 2.88048645,11 3.98505595,11 L11.9850559,11 C13.0896254,11 13.9850559,11.8954305 13.9850559,13 L13.9850559,18 C13.9850559,19.1045695 13.0896254,20 11.9850559,20 L4.10078614,20 L2.85693427,21.1905292 C2.65744295,21.3814685 2.34093638,21.3745358 2.14999706,21.1750444 C2.06092565,21.0819836 2.01120804,20.958136 2.01120804,20.8293182 L2.01120804,18.32426 C1.99400175,18.2187196 1.98505595,18.1104045 1.98505595,18 Z M6.5,14 C6.22385763,14 6,14.2238576 6,14.5 C6,14.7761424 6.22385763,15 6.5,15 L11.5,15 C11.7761424,15 12,14.7761424 12,14.5 C12,14.2238576 11.7761424,14 11.5,14 L6.5,14 Z M9.5,16 C9.22385763,16 9,16.2238576 9,16.5 C9,16.7761424 9.22385763,17 9.5,17 L11.5,17 C11.7761424,17 12,16.7761424 12,16.5 C12,16.2238576 11.7761424,16 11.5,16 L9.5,16 Z" fill="#000000" opacity="0.3"></path>
                                        </g>
                                    </svg>
                                    <!--end::Svg Icon-->
                                </span>
                                <span id="counter"></span>
                            </a>
                            @*<div class="example-tools justify-content-center">
                                <a href="~/Issue/Index" class="btn btn-primary font-weight-bolder">
                                    সব মেসেজ
                                </a>
                            </div>*@
                        </div>
                    </div>
                    <!--end::Header-->
                    <!--begin::Body-->
                    <div class="card-body pt-2 pb-0 mt-n3">
                        <div class="tab-content mt-5" id="myTabTables11">
                            <!--begin::Tap pane-->
                            <div class="table-responsive">
                                <table class="table  table-vertical-center thead-light" id="tblIssue">
                                    <thead class="thead-light">
                                        <tr>
                                            <th class="p-2">হোল্ডারের নাম </th>
                                            <th class="p-2">বিষয়</th>
                                            <th class="p-2">ইস্যুটির বর্তমান অবস্থা</th>
                                            <th class="p-2"></th>

                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>







                            <!--end::Tap pane-->
                        </div>
                    </div>
                    <!--end::Body-->
                </div>
                <!--end::Advance Table Widget 2-->
            </div>

        </div>

    </div>

</div>


@section Scripts
{
    @*<script src="~/Theme/dist/assets/js/pages/features/charts/flotcharts.js"></script>
        <script src="~/Theme/dist/assets/plugins/custom/flot/flot.bundle.js"></script>*@
    <script>
        jQuery(document).ready(function () {
            var issueTable = $('#tblIssue tbody');
            $('#tblIssue').after("<div id='spin'><div class='spinner spinner-primary spinner-lg spinner-center p-5'></div></div>");

            var counter = 0;
            var counterSpan = $('#counter');

            $.ajax(
                {
                    type: 'POST',
                    dataType: 'JSON',
                    url: '/Issue/GetTopFiveIssue',
                    success:
                        function (data) {
                            issueTable.empty();

                            $(data).each(function (index, ep) {
                                ++counter;
                                issueTable.append('<tr>' +
                                    '<input type="hidden" value=' + ep.StatusTypeId + ' class="status_type_id" />' +
                                    '<input type="hidden" value=' + ep.StatusName + ' class="status_name" />' +
                                    '<td class="HolderName" id="HolderName">' + ep.HolderName + '</td>' +
                                    '<td class="Subject" id="Subject">' + ep.Subject + '</td>' +
                                    '<td class="StatusName" id="StatusName" > </td>' +
                                    '<td class="" id=""> <a href="../Issue/Edit/' + ep.IssueId + '"class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3" title="হালনাগাদ পেজে যান"><b><i class="fa fa-edit"></i></b></a></td>'+'</tr>');
                            });


                            $("#tblIssue tbody tr").each(function () {
                                var currentRow = $(this).closest("tr");
                                var status_val = currentRow.find('.status_type_id').val();
                                var status_name_val = currentRow.find('.status_name').val();

                                if (status_val === "1") {
                                    currentRow.find('.StatusName').append('<span style="color:blue"> ' + status_name_val + '</span>');
                                }
                                else if (status_val === "2") {
                                    currentRow.find('.StatusName').append('<span class="text-warning">' + status_name_val + '</span>');
                                }
                                else if (status_val === "3") {
                                    currentRow.find('.StatusName').append('<span style="color:forestgreen">' + status_name_val + '  </span>');
                                }
                                else if (status_val === "4") {
                                    currentRow.find('.StatusName').append('<span style="color:red"> ' + status_name_val + ' </span>');
                                } else {
                                    currentRow.find('.StatusName').append('<span> ' + status_name_val + ' </span>');
                                }
                            });
                            counterSpan.append('<b>'+counter+'</b>')
                            $('#spin').remove()
                        },
                    error:
                        function (data) {
                            alert("Error: " + data);
                        }
                });


            //=========================================  for chart items =============================
            //var ChartData = [];
            //debugger
            //$.ajax({
            //    url: "/HoldingTax/GetPaidAmmChart",
            //    type: "POST",
            //    //data: "ID=" + teamID,
            //    success:
            //        function (data) {
            //            console.log(data)
            //            var dataset = [
            //                {
            //                    label: "line1",
            //                    data: data
            //                }
            //            ];

            //            var options = {
            //                series: {
            //                    lines: { show: true },
            //                    points: {
            //                        radius: 3,
            //                        show: true
            //                    }
            //                }
            //            };



            //            $.plot($("#kt_flotcharts_2"), dataset, options);
            //        },


            //    error: function (error) {
            //    }
            //});



        });
    </script>


}