@{
    ViewBag.Title = "ReportIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>সব রিপোর্টস</h2>*@
@section Sheets{
    <link href="~/Content/formdesign.css" rel="stylesheet" />
    @*<style>
        #kt_card_4{
            position:inherit !important;
        }
    </style>*@
}

<div class="subheader py-2 py-lg-6 subheader-transparent" id="kt_subheader">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <div class="d-flex align-items-center flex-wrap mr-1">
            <div class="d-flex align-items-baseline flex-wrap mr-5">
                <h5 class="text-dark font-weight-bold my-1 mr-5">সব রিপোর্টস</h5>
                <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                    <li class="breadcrumb-item text-muted">
                        <a href="#" class="text-muted"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <a onclick="return goBack();" class="btn btn-light-primary font-weight-bolder btn-sm"><i class="fas fa-arrow-left"></i>আগের পেজে যান</a>
        </div>
    </div>
</div>

<div class="d-flex flex-column-fluid">
    <div class="container">
        <div class="row">



            <div class="col-lg-4">
                <div class="card card-custom" id="kt_card_1">
                    <div class="card-header">
                        <h3 class="card-title ">প্লট/জমি মালিকানা সংক্রান্ত রিপোর্ট</h3>
                        <div class="card-toolbar">
                            <div class="example-tools justify-content-center">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="navi navi-border navi-hover navi-active">
                            <li class="navi-item">
                                <a class="navi-link" href="~/Plot/PlotReport">
                                    <span class="navi-icon"><i class="flaticon-placeholder-3 text-primary"></i></span>
                                    <span class="navi-text">এলাকা ভিত্তিক প্লট রিপোর্ট</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a class="navi-link" href="~/PlotOwner/PlotOwnerReport">
                                    <span class="navi-icon"><i class="flaticon-users-1 text-primary"></i></span>
                                    <span class="navi-text">এলাকা ভিত্তিক প্লট মালিকদের তালিকা</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a class="navi-link" href="~/PlotOwner/PlotOwnerDetailsReport">
                                    <span class="navi-icon"><i class="flaticon2-google-drive-file text-primary"></i></span>
                                    <span class="navi-text">প্লট মালিকের বিস্তারিত রিপোর্ট</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a class="navi-link" href="~/PlotOwner/OldPlotOwnerList">
                                    <span class="navi-icon"><i class="flaticon2-google-drive-file text-primary"></i></span>
                                    <span class="navi-text">পুরাতন প্লট মালিকদের তালিকা</span>
                                </a>
                            </li>
                            <li>
                                &nbsp;
                            </li>

                        </ul>
                    </div>


                </div>
            </div>

            <div class="col-lg-4">
                <div class="card card-custom" id="kt_card_2">
                    <div class="card-header">
                        <h3 class="card-title ">করদাতা সংক্রান্ত রিপোর্ট</h3>
                        <div class="card-toolbar">
                            <div class="example-tools justify-content-center">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="navi navi-border navi-hover navi-active">
                            <li class="navi-item">
                                <a class="navi-link" href="~/Holding/HolderReport">
                                    <span class="navi-icon"><i class="flaticon2-google-drive-file text-primary"></i></span>
                                    <span class="navi-text">করদাতার বিস্তারিত তথ্য রিপোর্ট</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a class="navi-link" href="~/Holding/HolderListReport">
                                    <span class="navi-icon"><i class="flaticon-users-1 text-primary"></i></span>
                                    <span class="navi-text">এলাকা ভিত্তিক করদাতাদের তালিকা</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a class="navi-link" href="@Url.Action("RebateIndex", "TaxReports")">
                                    <span class="navi-icon"><i class="flaticon2-analytics text-primary"></i></span>
                                    <span class="navi-text">গৃহকরদাতা যারা রিবেট পেয়েছেন</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a class="navi-link" href="@Url.Action("NonRebateIndex", "TaxReports")">
                                    <span class="navi-icon"><i class="flaticon2-analytics text-primary"></i></span>
                                    <span class="navi-text">গৃহকরদাতা যারা সময়মত ট্যাক্স দেননি</span>
                                </a>
                            </li>
                        </ul>
                    </div>


                </div>
            </div>

            <div class="col-lg-4">
                <div class="card card-custom" id="kt_card_3">
                    <div class="card-header">
                        <h3 class="card-title ">গৃহকর সংক্রান্ত রিপোর্ট</h3>
                        <div class="card-toolbar">
                            <div class="example-tools justify-content-center">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="navi navi-border navi-hover navi-active">
                            <li class="navi-item">
                                <a class="navi-link" href="@Url.Action("Index", "TaxReports", new { rptId = "1" })">
                                    <span class="navi-icon"><i class="flaticon2-analytics text-primary"></i></span>
                                    <span class="navi-text">সম্ভাব্য আদায়যোগ্য গৃহকর</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a class="navi-link" href="@Url.Action("Index", "TaxReports", new { rptId = "2" })">
                                    <span class="navi-icon"><i class="flaticon2-analytics text-primary"></i></span>
                                    <span class="navi-text">আদায়কৃত গৃহকর</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a class="navi-link" href="@Url.Action("Index", "TaxReports", new { rptId = "3" })">
                                    <span class="navi-icon"><i class="flaticon2-analytics text-primary"></i></span>
                                    <span class="navi-text">অনাদায় কৃত গৃহকর</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a class="navi-link" href="@Url.Action("Index", "TaxReports", new { rptId = "4" })">
                                    <span class="navi-icon"><i class="flaticon-users-1 text-primary"></i></span>
                                    <span class="navi-text">গৃহকর প্রদানকারী করদাতাদের তালিকা</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a class="navi-link" href="@Url.Action("Index", "TaxReports", new { rptId = "5" })">
                                    <span class="navi-icon"><i class="flaticon-users-1 text-primary"></i></span>
                                    <span class="navi-text">গৃহকর প্রদান না করা করদাতাদের তালিকা</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                 
                </div>
            </div>



            <div class="col-lg-4">
                <div class="card card-custom" id="kt_card_4">
                    <div class="card-header">
                        <h3 class="card-title">অ্যাডমিন রিপোর্ট </h3>
                        <div class="card-toolbar">
                            <div class="example-tools justify-content-center">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="navi navi-border navi-hover navi-active">
                            <li class="navi-item">
                                <a class="navi-link" href="~/Home/EmployeeList">
                                    <span class="navi-icon"><i class="flaticon-users-1 text-primary"></i></span>
                                    <span class="navi-text">কর্মকর্তা ও কর্মচারীর তালিকা</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a class="navi-link" href="~/Home/Cluster">
                                    <span class="navi-icon"><i class="flaticon-users-1 text-primary"></i></span>
                                    <span class="navi-text">ক্লাস্টার রিপোর্ট</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a class="navi-link" href="~/Home/LoginHistory">
                                    <span class="navi-icon"><i class="flaticon2-shield text-primary"></i></span>
                                    <span class="navi-text">ব্যবহারকারীর লগইন রিপোর্ট</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                &nbsp;
                            </li>



                        </ul>
                    </div>


                </div>
            </div>




        </div>

    </div>

</div>

@section Scripts {


}

